[2018-09-26 10:46] karlhorky opened #3 "Ability to set realmName (and maybe other settings) after first authentication"
### Use cases

1. The Keycloak root admin user wants to log in to the `master` realm and then do all further operations in a secondary `realm-b` realm, such as creating a group. It would be desirable to not have to pass `realm-b` for every call.
2. ~~The Keycloak root admin user wants to log in to the `master` realm and do most operations in the `master` realm, except for a single operation in a `

[2018-09-26 10:50] karlhorky commented on #3
I will take a shot at implementing this because I need it for [amazeeio/lagoon](https://github.com/amazeeio/lagoon).

[2018-09-28 07:52] wwwy3y3 commented on #3
Hi @karlhorky
Sorry I missed this issue.

## For use case 2:

If you authorize the client with master realm, you can access resources in other realms like this:
[code]

There are some tests in https://github.com/Canner/keycloak-admin/blob/master/test/crossRealm.spec.ts

## As for case 1:
This requires some implemetation. I'll look into your technical background & PR later.

[2018-09-28 09:40] adamsmith448 opened #5 "Resource endpoints fail with 404 due to incorrectly constructed URLs"
Thanks for this library which looks great! :)

I am having an issue running a simple quickstart to authenticate with keycloak and list clients:

[code]

But on the `clients.find()` line I get an error
[code]

Looking into the error object the request URL was
[code]
i.e. it seems the URL has been constructed and/or encoded incorrectly.

I am running the script via
[code]

Have you seen this before?

[2018-09-28 10:26] adamsmith448 commented on #5
Thanks for the quick response.
- OS is Windows 10
- Node & typescript versions:
[code]

Regarding the baseUrl - we changed this in keycloak config as per https://stackoverflow.com/a/44627360

[2018-09-28 11:39] karlhorky commented on #3
Ah ok, great! Then I can just solve this by documenting it. I'll simplify the solution then for case 1 too.

[2018-09-28 12:13] wwwy3y3 commented on #5
Hi @adamsmith448

The problem is that windows use backslash in `path.join()`, which cause some problem at url parsing.

Would you mind use the latest version (1.6.3) to test again in your environment (Windows)?

I don't have windows env by my hand, so I have to rely on you to test for me :)

Thanks!

[2018-09-28 12:48] karlhorky commented on #3
I've removed the "Work in Progress" labels from the pull request, ready for review when you have a minute!

[2018-09-28 12:54] adamsmith448 commented on #5
Nice, that has fixed it, thank you!

Thanks for the quick response & fix :)

[2018-09-28 13:04] wwwy3y3 commented on #5
Glad to hear that 😀

[2018-09-28 13:04] #5 closed

[2018-10-02 05:05] #3 closed

[2018-10-26 14:58] willyburgos opened #9 "Usage with require?"
When developing using Node 8, we don't have access to import.
Can you provide an example of using this lib with require ?
Thanks

[2018-11-07 23:32] paulmowat opened #10 "User Create with roles query"
Hi,

Thanks for a fantastic library. Really helping save me some time getting integrated into keycloak.

I'm trying to create a new user and specify the client roles at run time.

However no matter what I try I can't quite get the mapping right for the client roles. I've also checked against the keycloak admin api at https://www.keycloak.org/docs-api/2.5/rest-api/index.html#_userrepresentation but

[2018-11-07 23:34] paulmowat commented on #9
Below is an example for how I'm using the library on node 8.10

[code]

[2018-11-20 10:38] wwwy3y3 commented on #9
@willyburgos Sorry I didn't see this issue!

@paulmowat is right! if you're using node, just:
[code]

[2018-11-20 10:38] #9 closed

[2018-11-20 10:53] wwwy3y3 commented on #10
hi @paulmowat

Sorry for the late response

Well, judging from the keycloak server code
https://github.com/keycloak/keycloak/blob/master/services/src/main/java/org/keycloak/services/resources/admin/UserResource.java#L191-L230
[code]

I don't think it's supported.

The only way for now is probably using `users.addClientRoleMappings`

[2018-11-20 11:03] paulmowat commented on #10
@wwwy3y3 thanks for the response. I ended up using users.addClientRoleMappings when I couldn't figure it out.

[2018-11-21 02:33] #10 closed

[2018-12-04 13:47] brumer opened #11 "[Enhancement] Return resource id when creating a resource"
First thing i would like to thank you for this sdk, its really helpful!
When creating a resource (e.g user, group ,real etc..), the id of the newly created resource can be retrieved from the "Location" header in the response.
![image](https://user-images.githubusercontent.com/7696032/49445700-2ecebf80-f7db-11e8-8c0a-61e4bd8f3984.png)

can you alter the create functions to return the id?

[2018-12-05 06:50] wwwy3y3 commented on #11
Sounds nice!

Didn't notice the location has information like this.

I'll be sure to add this feature

[2019-02-07 16:02] stianst opened #12 "Move repository to Keycloak organization"
Creating an issue to link with https://github.com/keycloak/keycloak-admin-client/issues/81

The Keycloak team would welcome moving this repository to the Keycloak organization and keeping the Canner team as maintainers. We hope this would give you more visibility and more users as well as contributors.

[2019-02-13 06:51] wwwy3y3 commented on #12
Thanks, @stianst !

I already replied in keycloak/keycloak-admin-client#81.

Let's move on!

[2019-02-15 16:06] #12 closed

[2019-02-20 16:25] slimovic opened #15 "Issue with the example provided to refresh the access token"
I am trying the example in the README to refresh the access token using the openid-client but unfortunately I'm not able to get the client working.

**To Reproduce**
Steps to reproduce the behavior:
1. Just run the example in the README
2. After instantiating the client, I tried to console log the client and I'm getting  `{ CLOCK_TOLERANCE: 0 }`
3. And of course there is no `refreshToken`

`const

[2019-02-20 16:37] slimovic commented on #15
@karlhorky

[2019-02-26 21:35] slimovic commented on #15
@wwwy3y3 I fixed the issue by using the grant 'password'

[code]

I made a PR to update the example in the README

[2019-02-27 02:39] wwwy3y3 commented on #15
@slimovic Thanks!

Close it due to #16

[2019-02-27 02:39] #15 closed

[2019-03-22 08:51] JonAmuchastegui opened #17 "error TS1308: 'await' expression is only allowed within an async function."
After istalling the necesary dependecys and run the yarm command i have tried tu use the script on the readme file in the usage paragraph but i get the next errors.

../../src/prueba.ts:14:1 - error TS1308: 'await' expression is only allowed within an async function.

14 await kcAdminClient.auth({
[code]

../../src/prueba.ts:30:17 - error TS1308: 'await' expression is only allowed within an async

[2019-03-23 07:48] wwwy3y3 commented on #17
@JonAmuchastegui this error is not raised from `keycloak-admin`.

At your own script (`../../src/prueba.ts:22:15`), you need to wrap `await` with `async` function.

Just google `js async await` to learn more about it. 😊

[2019-03-23 07:48] #17 closed

[2019-04-25 09:40] wwwy3y3 commented on #11
hi, @brumer and people who thumb up ( @metametadata , @TimothySealy).

This feature request is supported at `v1.12.0`.

You can now get the id of created resource in the response.

For example:
[code]

Resources including `Group`, `User`, `Realm`, `Client`, `Role` are all supported with this feature.

[2019-04-25 09:40] #11 closed

[2019-04-26 18:02] metametadata opened #18 "Feature: client scope mappings"
**Is your feature request related to a problem? Please describe.**
I currently use `kcadm.sh` to automate creation/deletion of scope mappings:

[code]

In order to migrate to NodeJS I need an API to create and delete scope mappings.

**Describe the solution you'd like**
Have an API for [scope mappings resource](https://www.keycloak.org/docs-api/4.1/rest-api/index.html#_scope_mappings_resource) at

[2019-04-26 18:07] metametadata commented on #11
`client.createRole()` seems to return only the name of the created role. So I have to call `clients.findRole()` next in order to retrieve the id of the created role.

Is this by design? Why not make `createRole` return the whole new object?

[2019-04-29 03:23] wwwy3y3 commented on #11
@metametadata it's because the restful api of keycloak gives me the role name in the location header instead of role id.

[2019-05-03 10:22] rajatsehgal2010 opened #19 "Update feature is not working correctly."
If i want to change the user firstname, then i initially fetched the user details
` user = client.users.find('RealmName', {
                username: username
            });`
//above "find" is working.
`user.firstname = "newFirstName"`
`client.users.update("RealmName", user);`
//but "update" function is not working.

[2019-05-06 03:55] wwwy3y3 commented on #19
@rajatsehgal2010 Hi
checkout the update example here in test:
(from : https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/test/users.spec.ts#L87-L95)
[code]

[2019-05-08 04:12] #19 closed

[2019-06-13 14:10] dschwank commented on #18
Here you go: https://github.com/keycloak/keycloak-nodejs-admin-client/pull/21
We were in the same situation, as we want to automatically configure our keycloak instance.

Maybe you can have a look at the PR!

[2019-06-16 19:53] metametadata commented on #18
Thank you, the PR seems to cover the endpoints we need.

[2019-06-17 08:13] dschwank commented on #18
If you like, you can use this temporary branch as dependency:

[code]

[2019-07-17 00:36] justintime4tea commented on #15
I was having issues even with the latest changes described here. I had to use the refresh token from KcAdminClient.refreshToken instead of from the token set from openid-client. Not exactly sure why...

In-case anyone stumbles upon this thread and finds themselves in the same position as I was in I thought I'd comment here.

Thanks for the amazing work.

[2019-08-14 09:24] jstortoise opened #22 "Keycloak refresh token"
I am using this plugin for my project and I have some issue with refresh token.

**Describe the bug**
How to refresh token using keycloak-admin-nodejs-client?

**To Reproduce**
Steps to reproduce the behavior:
1. Authorization
[code]
2. Get access_token and refresh_token
[code]
3. access_token has 1 hour lifespan and refresh_token has 1 day lifespan. Now, access_token is expired but refresh_token

[2019-08-15 16:24] jstortoise opened #23 "Keycloak Authenticate with Facebook Token"
Hi guys, I have a problem with Keycloak authentication with social providers.

Actually, I can do authentication with keycloak username and password.

But some users are registered with facebook accounts.

After getting facebook token from my backend, I'd like to authenticate keycloak by using this token like username and password.

Otherwise, is there any way to get keycloak user's password?

[2019-08-20 09:13] gstester opened #24 "Group resource: setOrCreateChild don't return 'location header'"
Calling adminClient.groups.setOrCreateChild({ realm: realm, id: id }, group)

causes an exception:
`SystemException: location header is not found in request: https://auth-test.lbb7lk8hq4v71.hms-dev.cloud/auth/admin/realms/qc/groups/4e964d7f-9af6-4a71-81dd-318f3b9f381d/children`

Environment:
- Keycloak Server Version v6.0.1
- AdminClient: v1.12.0
- node: v10.15.3

In keycloak admin console you can

[2019-08-28 10:19] AnandChowdhary opened #25 "ETA for missing KeyCloak features?"
As mentioned in the README, several KeyCloak features are not currently supported:

[code]

Is there an ETA available for these, or if there are plans to support them?

[2019-09-16 07:10] satkamar opened #28 "Error message: "Request failed with status code 401""
const KcAdminClient = require('keycloak-admin').default

async function setupKeycloak(realmName = "**********") {
  try {
    // const keycloakAdmin = new KcAdminClient()
    const keycloakAdmin = new KcAdminClient({
      'baseUrl': "http://localhost:16160/auth",
      'realmName': 'master'
    })

    // Authorize with username / password
    await keycloakAdmin.auth({
      'username': "*******

[2019-09-16 15:45] #28 closed

[2019-09-17 18:56] jstortoise commented on #22
@justintime4tea , thanks for your response.

Btw, is there any function to get refresh token instead of using another module (panva/node-openid-client) ?

Currently, I am using original keycloak rest api.

[code]

Is there any better way to get refresh token?
Also, is there any way to check token valid?

[2019-09-17 19:10] jstortoise opened #29 "How to use identity provider?"
Hello, I am using facebook and google to my website using keycloak.

I need your help how to use identity providers?

1. How to create user with identity provider?
I don't know how to create with identity provider. So, I created a user with username(test1) and password(test1) manually and added facebook identity provider to the created user.
But I don't think this is the solution to create user wi

[2019-09-27 13:11] NicolasRouffart opened #30 "Logout"
Hi,
After looking for in the source code I didn't see a function that allow the user to disconnect.
is this features present or not?

[2019-10-09 13:10] merajsiddiqui opened #31 "users.create: UnhandledPromiseRejectionWarning: Error: Request failed with status code 500"
When trying to create a new user in any `realm` it gives error

**To Reproduce**
[code]
**Error :**
[code]

**Expected behavior**
Should return some value instead of throwing error or should create user

**Enviroment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Keycloak 7.0.0
 - keycloak-admin: 1.12.0
 - node : 10.6.13

[2019-10-10 23:24] zagaria commented on #25
@AnandChowdhary unfortunately, no. It is a fully open-source project with community support.

[2019-10-10 23:24] #25 closed

[2019-10-16 14:11] metametadata opened #33 "npm release?"
There's a security release 1.12.1 on Github page but it's not published to `npm`. Shouldn't it be published?

[2019-10-16 23:21] zagaria commented on #33
Hello @metametadata. It will be published today or tomorrow. Thanks for the reminder!

[2019-10-18 03:54] SillyButt commented on #33
Hello! I see you recently added findEvents which I need in my project just in time but it's not published to npm. When are you going to publish master to npm? I don't want to publish it by myself to my private repo if you will update the release soon. Thanks!

[2019-10-18 08:19] fabu-khiarah opened #34 "User Sessions related to client"
@gerdsander has recently added support for user sessions from a user perspective. For our purposes we need the user sessions belonging to clients instead. I've created a working version for the following endpoints:

- /{realm}/clients/{id}/user-sessions
- /{realm}/clients/{id}/offline-sessions
- /{realm}/clients/{id}/session-count
- /{realm}/clients/{id}/offline-session-count

And I would like to

[2019-10-18 08:49] #34 closed

[2019-10-19 10:33] zagaria commented on #33
@metametadata, @SillyButt  - published new release 1.13.0 with security updates and new features.

[2019-10-19 10:33] #33 closed

[2019-10-19 10:35] zagaria commented on #18
Merged to master and published to npm. Please use 1.13.0 version.

[2019-10-19 10:35] #18 closed

[2019-10-20 19:18] ssakayroun opened #37 "Support for typecheck attributes in Roles"
**Is your feature request related to a problem? Please describe.**
Non support of this leads to unsupported attributes types being able to be stored.
**Describe the solution you'd like**
This solution is to specify the attributes type along with its supported subtypes in the Role Representation description.

[2019-10-20 19:32] #37 closed

[2019-10-22 13:59] nikolay-govorov opened #38 "`keycloak-nodejs-admin-client` and `keycloak-nodejs-connect` integration"
I use [keycloak-nodejs-connect](https://github.com/keycloak/keycloak-nodejs-connect) (more precisely, my own fork) for authorization in the project, and I also need to manage roles/permissions.

It would be great if `keycloak-nodejs-admin-client` could use tokens from `keycloak-nodejs-connect`.

[2019-10-24 08:29] zagaria commented on #38
@nikolay-govorov please add more details.

[2019-10-24 09:33] nikolay-govorov commented on #38
Hello! What kind? How do I use the system, what is the problem, what do I want?

[2019-10-25 06:48] zagaria commented on #38
Hello. To clarify - I don't understand your request about tokens.

https://github.com/keycloak/keycloak-nodejs-connect and https://github.com/keycloak/keycloak-nodejs-admin-client/ have different targets - to protect the server-side application vs administrator management. Or you mean the possibility to pass the user with admin privileges tokens (access token and refresh token) for auth without us

[2019-10-25 07:23] nikolay-govorov commented on #38
Yes! We use both possibilities, and we want to transfer access tokens to admin without entering a login/password at ourselves.

[2019-11-14 04:42] tristan-fitzgerald-vineti opened #40 "Username and password in credentials should be optional"
**Describe the bug**
In the code segment, these two properties are required, but not needed for a `grantType` of `client_credentials`. Making them optional would prevent ide errors that can be misleading.

**Expected behavior**
If I am using a clientId and clientSecret, I shouldn't need to provide the username or password or avoid type errors by using any as a patch. In testing, the auth works wit

[2019-11-21 21:47] rocketeerbkw opened #42 "Email tests means local tests always fail"
**Describe the bug**
It's not possible to run tests locally and get all green due to a hardcoded dependency on a 3rd party SMTP server. See https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/test/users.spec.ts#L47-L59. The credentials for this service are configured in TravisCI so they pass there, but not available locally.

**To Reproduce**
Steps to reproduce the behavior:
1. Ru

[2019-12-02 08:16] evasyuk commented on #22
@jstortoise I've made performed raw HTTP subsequent requests with content exactly like you descibed.

good: access_token has been updated

bad: expires_in and refresh_expires_in fields remains the same and after timeout errors like '400 " Refresh token expired"'

resume: it is not working as expected

solution: as far as you already have clientId/clientSecret, you can obtain access_token as for th

[2019-12-23 14:21] bartmentech opened #44 "Keycloak admin client is missing the protection API"
Currently the Node.js admin client does not support the protection API described in the [docs](https://www.keycloak.org/docs/latest/authorization_services/index.html#_service_protection_api).

This would be very useful for writing applications like a AWS Lambda authorizer. Are there any plans to implement this API?

[2020-01-08 15:48] Ismaestro opened #45 "No group assigned while creating a user"
**Describe the bug**
When I try to create a user with a group by default, it does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. What API did you use?
I just:
- Installed keycloack in local, configured it and create an example realm and group
- Create the example that is in your readme
- Add groups to the create method...
- Everything works except the group is not assigned

2. Wha

[2020-02-03 18:49] fabu-khiarah opened #47 "Release new version"
Hey @zagaria,

can you release a new version please? I would like to use the changes from my PR soon (https://github.com/keycloak/keycloak-nodejs-admin-client/pull/35)

Thanks in advance :)

[2020-02-04 22:15] zagaria commented on #47
Hi @fabu-khiarah

Yes, of course. I will prepare new release after https://github.com/keycloak/keycloak-nodejs-admin-client/pull/46 and https://github.com/keycloak/keycloak-nodejs-admin-client/pull/43

[2020-02-11 16:10] flapouille opened #48 "add example in README to use keycloak-admin without typescript"
Hello,
Could you add guidance in the README about how can we use keycloak-admin without typescript ?
I can't get my head around it.
Thanks

[2020-02-11 16:55] flapouille commented on #28
hey, how did you fix that one? Thanks

[2020-02-11 16:56] flapouille commented on #48
Oops, duplicate of https://github.com/keycloak/keycloak-nodejs-admin-client/issues/9 . A comment on README might be nice.

[2020-02-11 16:56] #48 closed

[2020-02-15 13:55] kdankert opened #49 "Groups are not included in Response from Keycloak, but in UserRepresentation"
When I try to get information from all of my users, the groups property is undefined, so its is not resolved by the keycloak admin rest api response. Is there a way to add the group information to the user endpoint in the keycloak rest api, because it seems to be quite silly to do so much request to keycloak to get every group for each user one by one, when I want to receive the users which are in

[2020-02-17 17:20] zagaria commented on #49
Hi @kdankert.

Please provide more details:

1. Keycloak version
2. User profile representation from browser debug console.

Thanks.

[2020-02-17 17:45] kdankert commented on #49
I tested this on version 8.0.0, 8.0.0, 8.0.2 and 9.0.0.

Example: User with username `student` and id `6efa3933-aeb1-4114-8678-56d5410be7ec` is in the group `students`

Response from getting all users:
[code]

As you can see the property groups of the User Object which is an array of strings is missing in the response from keycloak-nodejs-admin-client

Response from members of group students:
[cod

[2020-02-27 19:53] kdankert commented on #49
@zagaria Is this helpful to you?

[2020-03-02 14:09] schuerg opened #52 "kcAdminClient.roles.create should create composite roles"
**Describe the bug**
KcAdminClient should create a composite role if `composite=true` within the `RoleRepresentation` object.
And the roles defined in `composites` should be applied as associated roles.

**To Reproduce**
[code]

**Expected behavior**
I expect a `manager` role to be present with the composite flag enabled.
And the `finance-manager` role to be a associated role of `manager`.

Instea

[2020-03-08 20:22] Bessonov commented on #47
hm, this project seems to be not well supported even if community put efforts to creates PRs...

[2020-03-10 16:13] zagaria commented on #47
Hi @Bessonov.

This project supported, but for every merge request need review with checking, not just merge :blush:

If you want to help for review and testing merge requests - please let me know.

[2020-03-11 22:48] Bessonov commented on #47
@zagaria We need a some additional configuration anyway. So I hope I can come back to your offer :+1:

[2020-03-18 22:40] kdankert commented on #49
Did you figure out what causes this problem.

[2020-03-19 18:33] zagaria commented on #49
Hi @kdankert.

Sorry for delay - can you, please, provide endpoints that are you using?

Thanks.

[2020-03-19 19:08] kdankert commented on #49
What do you mean by that?

I did some research and it looks like keycloak doesn't provide the group's in the user representation anymore, because they are two separate entities. So the only option to retrieve it is by doing it for every user manually

[2020-03-22 17:30] samdidos opened #53 "Update to Keycloak Admin REST API v9.0"
**Is your feature request related to a problem? Please describe.**
Some features are missing while comparing this client with the v9.0 API documentation. For instance, while querying all groups of a realm, it is now possible to get the full group representation by using the `briefRepresentation=false` flag from the API, but not with this client.

**Describe the solution you'd like**
I don't know h

[2020-03-22 19:56] samdidos commented on #53
Finally I have added `as any` and the query param was passed on
[code]

[2020-03-22 19:56] #53 closed

[2020-04-06 09:27] galsilb commented on #40
For future reference, using `username: null, password: null ` dose the trick.

[2020-04-28 21:42] cmwylie19 commented on #22
are we planning on planning on fixing this anytime soon? I dont understand how this has been an issue for a year and a half. I'm having to convince my client daily not move to aws cognito....

[2020-04-28 22:06] cmwylie19 commented on #22
Is this even on the agenda to be fixed?

[2020-05-23 12:54] stevehogdahl opened #56 "BaseUrl isn't getting used"
I'm getting the following error when calling the auth function:
`ERROR	Invoke Error
{
    "errorType": "Error",
    "errorMessage": "connect ECONNREFUSED 127.0.0.1:8080",
    "trace": [
        "Error: connect ECONNREFUSED 127.0.0.1:8080",
        "    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1107:14)"
    ]
}`

It looks like it's trying to hit the default baseUrl even though i passe

[2020-05-25 17:11] Kinrany opened #57 "Login fails with 404"
**Describe the bug**
Trying to authenticate with login and password. It fails because the constructed URL has a double slash `//`, because baseUrl ends with a slash.

The error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Write a script that logs into a Keycloak instance
2. Append a `/` to the provided `baseUrl`
3. Run the script again, observe a 404 error

**Expected behavior**
T

[2020-05-25 17:47] Kinrany commented on #56
I'm getting the same error while using [keycloak/keycloak-nodejs-connect](https://github.com/keycloak/keycloak-nodejs-connect), so your issue might be caused by something else

[2020-05-25 18:03] Kinrany commented on #56
In my case I was trying to write a test with `request(app).get("some/route")`. The route must start with a `/`.

[2020-05-26 08:55] manuserranog commented on #56
Same error

[2020-05-28 17:22] jbman opened #58 "Update axios dependency to support HTTP Proxy for HTTPS connection"
The library doesn't work behind a corporate proxy, as axios 0.18.1 always uses HTTPS for HTTP connections. Please see "Fix http adapter to allow HTTPS connections via HTTP" https://github.com/axios/axios/pull/959

Updating axios to latest version > 0.19.0 fixes the problem. I tried it with axios 0.19.2.

[2020-05-29 10:57] mpulido73 commented on #22
Never use secrets with **public clients**, justo clientID and refresh_token.

[2020-05-29 12:14] vidi42 opened #59 "RolesRepresentation should be used as type for roles in RealmRepresentation"
**Describe the bug**

As defined in the REST API documentation the [RealmRepresentation](https://www.keycloak.org/docs-api/10.0/rest-api/index.html#_realmrepresentation)`.roles` field should be of type [RolesRepresentation](https://www.keycloak.org/docs-api/10.0/rest-api/index.html#_rolesrepresentation) supporting multiple roles.

However, the `roles` field is wrongly declared with the type [RoleR

[2020-05-29 12:21] vidi42 commented on #59
A workaround for this is to declare a new `CustomRealmRepresentation` type which replaces the type of `roles` to a custom type.

[code]

Then use the new `makeRequest` method to create a realm using the new type

[code]

[2020-06-01 21:45] patrykwegrzyn commented on #56
I think example in readme is wrong `realm` should be in the auth settings  and `baseUrl` in the options for client constructor

@stevehogdahl  try below it works for me
[code]

[2020-06-02 22:13] stevehogdahl commented on #56
@patrykwegrzyn thanks for this. I'll give that a try.

[2020-06-05 13:49] Kinrany opened #60 "Authentication Management: Required actions"
I see that "Required actions" are already in `1.13.x` and are mentioned in README, but not published yet.

I considered just using the git branch as my dependency, but the build step does not run when the package is installed this way.

What's missing? What work is still necessary for `1.13.1` to be published?

[2020-06-22 23:59] KenG98 commented on #28
I'm encountering the same. Also wondering if there was a fix.

[2020-06-23 20:53] lucashenning commented on #45
+1

I've also tried using the groupId but it does not seem to be working.

[code]

[2020-07-16 15:03] ath88 opened #63 "Feature: Request offline token"
**Is your feature request related to a problem? Please describe.**
Using the keycloak admin client on a backend server requires getting a new refresh token once in awhile.

**Describe the solution you'd like**
Keycloak supports requesting an offline token instead of a regular refresh token. This would allow a client to never need to refresh the refresh token.

**Describe alternatives you've consid

[2020-07-16 19:23] ath88 commented on #47
I'll help. My company uses this, so I have a good reason to want this to work well.

[2020-07-18 08:06] winterrobert commented on #44
This would be very helpful

[2020-07-23 12:32] jbman commented on #58
Axios was updated in https://github.com/keycloak/keycloak-nodejs-admin-client/pull/54
I think this issue could be closed. Is there any release schedule?

[2020-07-23 20:59] bs-matil commented on #47
We also would like to get a new release. Anything one can do?

[2020-08-11 15:06] tvrg commented on #52
This seems to be already broken or not working by design in the keycloak REST API. At least I haven't managed to create a composite role with a single API call. Instead you first have to create a non-composite role and then explicitly add the composites using `POST /{realm}/clients/{id}/roles/{role-name}/composites`.
See https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_addcomposites

The

[2020-08-12 11:38] tvrg commented on #52
@zagaria I would like to implement new methods for the roles-composites API as I need them for my current project. Please let me know if a corresponding PR would be welcome.

[2020-08-21 03:11] mrkimmy opened #67 "Cannot create client role"
**Describe the bug**
I working with keycloak-admin to create client roles through keycloak rest api. I got error 404 (Not Found)

**To Reproduce**
Steps to reproduce the behavior:
1. What API did you use?
call function

`Clients.createRole: (payload?: RoleRepresentation & {
    realm?: string;
}) => Promise<{
    roleName: string;
}>`

function signature is image below
![image](https://user-images

[2020-08-27 05:14] TomasNiDo opened #68 "Add a user count helper"
I want to paginate the data when fetching users, the problem is I have to get the total count of users to generate a metadata. Fetching all users and getting its count would defeat the purpose of my pagination.

The solution is obviously getting the count of the users. There is an API available in the [docs](https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_users_resource) where I can get

[2020-09-01 10:31] stianst opened #69 "Maintenance / project status"
Question to maintainers of this project. Is this project being actively maintained? It looks like there is quite some time since the last release, as well as commits. If this project is not being maintained at the moment, we should look at finding other maintainers or sunsetting the project.

[2020-09-01 10:42] zagaria commented on #69
Hi @stianst

Unfortunately, from my side, I can't provide full support for review and maintain this project.

Good point to find another maintainers that can provide full support.

[2020-09-02 12:33] stianst commented on #69
@zagaria thanks for the update, can you send a PR to MAINTAINERS.md to remove yourself from the list of maintainers in that case?

@wwwy3y3 @karlhorky @Schnitzel Any of you actively involved in this project?

[2020-09-02 13:14] karlhorky commented on #69
Although I would be able to do some simple reviews and potentially even bug fixes, I don't think that I have enough time to be able to contribute actively enough to this to be able to be called a "maintainer".

I've removed myself in #70.

[2020-09-02 13:26] zagaria commented on #69
@stianst removed in https://github.com/keycloak/keycloak-nodejs-admin-client/pull/71

[2020-09-03 06:11] stianst commented on #69
@karlhorky @zagaria thanks for the quick response

[2020-09-07 06:43] ath88 commented on #69
@stianst As I wrote in https://github.com/keycloak/keycloak-nodejs-admin-client/issues/47, I'll be willing to help maintain this. We use Keycloak and Node.js in my organisation, so I would love to give back to the community.

[2020-09-07 13:16] stianst commented on #69
@wwwy3y3 @Schnitzel any of you still involved with this project?

[2020-09-15 15:29] lalrishav opened #74 "KcAdminClient is not a constructor"
Getting below error when using
    const kcAdminClient = new KcAdminClient();
as described in readme
using node version -> v12.17.0
          npm version -> 6.14.4
          "keycloak-admin": "^1.13.0"

(node:29132) UnhandledPromiseRejectionWarning: TypeError: KcAdminClient is not a constructor
    at load (file:///Users/lalrishav/WebstormProjects/devops/script.js:9:27)
    at file:///Users/lalris

[2020-09-22 07:36] edewit commented on #69
@stianst how about we use this project to build the new admin console with? Then we can breath new life into this project

[2020-09-23 06:42] stianst commented on #69
@edewit if that's beneficial for the new admin console it sounds like a great idea

[2020-09-29 07:40] edewit opened #75 "Browser support"
We could use this project for building a new admin console, currently we have a small wrapper around `fetch` and generate the types based of the java types. But instead we could use this, only thing that we need to do is have a way to construct it without a username and password but use the `keycloak-js` adapter instead.

[2020-09-30 13:23] ath88 commented on #69
It sounds like a great plan to use for the new admin console. Follows well with [Eating your own dog food](https://en.wikipedia.org/wiki/Eating_your_own_dog_food). How do you propose we go from here?

[2020-10-01 06:40] edewit commented on #69
@ath88 created issue #75 and PR #76

[2020-10-01 09:54] ath88 commented on #69
@edewit Yes - I noticed. But we still need someone to merge it. Preferably someone who can actively maintain the project.

[2020-10-01 12:17] edewit commented on #69
@ath88 guess I'm volunteering

[2020-10-02 10:37] apellizzn opened #77 "Refactor RequiredActionAlias"
We have the enum RequiredActionAlias defined as follow

[code]
Since on Keycloack we have the ability to create our own custom required actions using SPI I feel this enum should be more generic otherwise we are gonna have typing issues.

What about something like this?

[code]

This will allow us to do
[code]

[2020-10-05 20:43] DiV666 opened #78 "findOne by username return array"
Hi,

When i use findOne method with username param it's return array of UserRepresentation
[code]
Is this the expected behavior?

When i use findOne with id param, return UserRepresentation Object

[2020-10-06 19:34] ath88 commented on #69
@stianst Perhaps its time to add a few contributors then? I volunteer too.

[2020-10-07 06:42] ilhan-mstf opened #79 "I want to add new endpoints"
**Is your feature request related to a problem? Please describe.**
I need to logout all sessions and delete a specific user's session

**Describe the solution you'd like**
I would like to support these two new endpoint
- `POST /{realm}/logout-all`
- `DELETE /{realm}/sessions/{session}`

**Describe alternatives you've considered**
These endpoints aren't supported by this library.

**Additional cont

[2020-10-07 09:47] #75 closed

[2020-10-13 10:44] ath88 opened #83 "[Feature] Run tests against multiple relevant Keycloak versions"
**Is your feature request related to a problem? Please describe.**
Currently, we only test against Keycloak version 7.0.1 as seen here https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/.travis.yml.

**Describe the solution you'd like**
Utilize travis test matrix to run against multiple versions of Keycloak.

**Describe alternatives you've considered**
I don't see any other way.

[2020-10-15 09:32] BaptisteMonet commented on #74
for those who  are looking an element answer, when you require your kcadminclient
just add that
const KcAdminClient = require('keycloak-admin').default;

[2020-10-15 12:30] BaptisteMonet opened #85 "Can't update user"
**Describe the bug**
After created my user,i would like to update some information (lastname, firstname, email)
so I put the new information results its ok (200)
but user is not updating

**To Reproduce**
Steps to reproduce the behavior:
1. Update the user (PUT /{realm}/users/{id})
2. No error
3.

[code]

**Expected behavior**
Just wanted to have the information user updated

**Screenshots**
[post

[2020-10-15 13:39] BaptisteMonet commented on #85
well
its look like the right data to pass was more like:
[code]

[2020-10-15 13:39] #85 closed

[2020-10-19 08:46] Powersource opened #86 "Links to documentation in the readme 404"
Several links that are broken, e.g. the "Client" one that links to https://www.keycloak.org/docs-api/4.1/rest-api/index.html#_clients_resource

[2020-10-19 08:50] Powersource commented on #86
I think this might be where it actually wants to link https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_clients_resource

Some of the other links also just link back to this repo.

[2020-10-19 18:59] itsalb3rt commented on #56
No. The REAME is correct, In your case maybe you were using the wrong "realm" and by not putting "realmName" in "KeycloakAdminClient" the library put you the realm "master"

[2020-10-20 11:56] Schnitzel commented on #69
ugh, sorry didn't see this.
Actually I also don't really have time to maintain this much longer, therefore removing myself as well.

[2020-10-22 10:18] BaptisteMonet commented on #22
I can't getAccessToken like you do
I put all the params and the session is open.

I see that there is a getToken inside the auth.js file,
but how to use it, do there is a difference ?

[2020-10-28 16:34] BaptisteMonet opened #88 "ask email for reset password"
**Is your feature request related to a problem? Please describe.**
I want to add email and not id in case of forgot password

**Describe the solution you'd like**
Having the possibility to add email and/or username in place of id from executeActionsEmail

**Describe alternatives you've considered**
None

**Additional context**
I use this api for android an ios application
so if the user start the

[2020-10-29 18:53] parthibd commented on #69
Is this project going to be abandoned ? There hasn't been any release since last year .

[2020-10-30 12:17] edewit commented on #69
No, going to use it to build the new keycloak admin console. See
https://github.com/keycloak/keycloak-admin-ui

On Thu, Oct 29, 2020 at 7:53 PM Parthib Dutta <notifications@github.com>
wrote:

[2020-10-30 13:10] ath88 commented on #69
It is still a valid point @parthibd brings up though. No releases, and quite a few unmerged PRs. Some active maintainers would be great. And - repeating myself - I volunteer if need be.

[2020-10-30 13:37] edewit commented on #69
I'm going to do a release later today or early next week, when I get a chance to find out how to do that

[2020-10-30 15:02] parthibd commented on #69
@edewit @ath88  Thank you for clearing my doubt . I really love using Keycloak and this library serves our purpose in our company . Happy to hear this is not going to be abandoned. Looking forward to the new admin ui . :)

[2020-11-02 14:39] rekkisomo commented on #28
it should be a crime to close an issue and not give a solution :(

[2020-11-03 19:23] fmatar commented on #78
This is pretty much applicable to a number of other methods, the array should be converted to a single object instead

[2020-11-10 11:37] #79 closed

[2020-11-11 08:25] edewit commented on #86
fixed in 1.14

[2020-11-11 08:25] #86 closed

[2020-11-11 08:32] edewit commented on #68
Even a total count of users is to expensive as users can come from external systems like ldap. So there is no total count in the API. You can still paginate, but you can't show the number of pages.
![image](https://user-images.githubusercontent.com/51133/98788145-b75f2d00-2400-11eb-8ae4-ed02b27aadee.png)
This is a screenshot of how we display it in the admin client ^^

[2020-11-11 08:32] #68 closed

[2020-11-11 08:34] edewit commented on #67
@mrkimmy seems there is a double `//` in your request, I think if you remove the trailing `/` from your baseUrl it will work.

[2020-11-11 09:06] edewit commented on #58
updated axios to `0.21.0` in the `1.14` release

[2020-11-11 09:06] #58 closed

[2020-11-11 09:10] edewit commented on #60
1.14 has been release can we close this?

[2020-11-20 13:37] #74 closed

[2020-11-23 12:23] edewit commented on #47
created a new release 1.14 on

[2020-11-23 12:23] #47 closed

[2020-11-23 12:26] edewit commented on #52
added this with #95

[2020-11-23 12:26] #52 closed

[2020-11-23 12:27] edewit commented on #42
you can add TRAVIS=true as environmental variable to skip these tests

[2020-11-24 09:37] #63 closed

[2020-11-24 09:40] edewit commented on #88
Guess this is an issue for the keycloak rest api, as it doesn't support this.

[2020-11-24 10:00] edewit commented on #78
the way findOne works is when you [specify an id](https://github.com/keycloak/keycloak-nodejs-admin-client/blob/5cc35e0a1964a19ecd3cec61029d5bda64cd0692/src/resources/users.ts#L39-L42) if you don't use an id then it's a regular find.

[2020-11-24 10:00] #78 closed

[2020-11-25 15:38] ariestikto opened #99 "Authenticating with 'client_credentials' throws 400 error 'invalid_scope'"
**Describe the bug**
Calling `kcAdminClient.auth()` with `grantType: 'client_credentials'` throws 400 error 'invalid_scope'

**To Reproduce**
Steps to reproduce the behavior:
1. run kcAdminClient.auth()
[code]
2. It'll throw 400 error with message
[code]

**Expected behavior**
Keycloak should authorise the client. In version 1.13.0 its working as expected, upgrading to 1.14.2 show this behaviour

[2020-11-25 16:33] danazkari commented on #99
The culprit seems to be this

https://github.com/keycloak/keycloak-nodejs-admin-client/commit/977e2324283899e66fbdc036fbfba751cfa61734#diff-79c8101c1f2ac59b33a8d000f8f14e6182042baf54f79df35d2151d3b4064405R49

They're adding `scope` empty and that seems to be breaking things

![image](https://user-images.githubusercontent.com/349542/100255836-a850a280-2f09-11eb-831c-73a3925b8a29.png)

[2020-11-25 17:06] danazkari commented on #99
@ariestikto what did so far to get this working for me and to get unblocked was to add `offlineToken: true` to my credentials object like so:
![image](https://user-images.githubusercontent.com/349542/100259642-0d0dfc00-2f0e-11eb-82b7-8da68e9c7734.png)
And that seemed to do the trick, it includes a proper `scope` value instead of an empty one

I added a PR in the meantime #100 as an attempt to get

[2020-11-25 17:48] ariestikto commented on #99
Hi @danazkari, that works thanks! well done for spotting the issue and thanks for the PR as well

[2020-11-25 18:00] danazkari commented on #99
My absolute pleasure, this is a pretty good project and I like contributing whenever I can to open source projects I use daily, this was a very low hanging fruit, hopefully the fix makes sense

[2020-11-26 10:35] edewit commented on #99
Thanks @danazkari also going back to version `1.14.1` would be an option

[2020-11-26 10:38] ath88 commented on #83
This should probably be reopened, since it was moved away from using Travis to use Github Actions instead.

[2020-11-26 12:31] danazkari commented on #99
@edewit thanks for the quick response! Lemme know if the PR is missing something

[2020-11-27 07:58] edewit commented on #83
Yep your right @ath88 I'll have a look maybe later today

[2020-11-30 13:59] krilleAb opened #101 "Read the config-object when getting an authorization permission"
**Is your feature request related to a problem? Please describe.**
I want to be able to see which resources, scopes and policies are connected to a authorization permission with the findOnePermission-function and/or findByName-function.
This have only been tested against keycloak 11.0.3.

**Describe the solution you'd like**
I would like to be able to read the objects/properties listed in the conf

[2020-12-08 15:29] semangard opened #104 "Realms - Groups : Unable to update the groups"
Hello,

Into the JSON of our realm we added the configuration of a group which already exists into KeyCloak but does not have the roles'mappings yet (the related clientRoles)  :

"groups": [
    {
      "id": "40afde5c-fc47-4afd-93f7-5d36d68ac06f",
      "name": "DSI-DEV-GIR",
      "path": "/DSI-DEV-GIR",
      "attributes": {},
      "realmRoles": [],
      "clientRoles": {
        "realm-manage

[2020-12-14 23:13] ath88 commented on #83
@edewit Want a hand with this? If you have a PR coming up, I won't waste my time doing duplicate work. :)

[2020-12-15 05:50] edewit commented on #83
Thanks that would be great, I keep posting it as I'm not that familiar with
it

On Tue, 15 Dec 2020, 00:13 Asbjørn Dyhrberg Thegler, <
notifications@github.com> wrote:

[2020-12-21 07:09] TheArKaID opened #111 "Keycloak Catch with Exact Problem"
Hi, I'm new user of Keycloak, and found this great package, so I use it.

So, I've use this package for some tasks, and only return default error response if there's an error/failed.

Is there any way to get the exact error or failed message, not only the http response but with "humanly" message.
In example, I create second user with already used username, and the Catch error give me this,

![imag

[2020-12-26 21:52] PavelJacobo opened #112 "is Impersonation Supported?"
Hello
I would like to know if impersonation is supported. I tried to find a way to impersonate a user but I couldnt find It.
Thanks in advance

https://www.keycloak.org/docs-api/9.0/rest-api/index.html#_users_resource

POST /{realm}/users/{id}/impersonation

[2021-01-04 08:20] #83 closed

[2021-01-04 08:29] ath88 opened #113 "Tests fail against Keycloak 8+"
**Describe the bug**
The test suite fails with this error against Keycloak 8.0.2 and newer.
[code]

**To Reproduce**
Check the logs here:
https://github.com/keycloak/keycloak-nodejs-admin-client/actions/runs/460584766

**Expected behavior**
The tests should pass

**Screenshots**
I posted the log above - should be sufficient

**Additional context**
Keycloak 9+ has the same issue, but there are addi

[2021-01-05 12:46] tvrg opened #116 "Add credentials endpoint"
See https://www.keycloak.org/docs-api/11.0/rest-api/index.html#_credentials

In 7.0.1 you could remove a `totp` configuration via the users API. In more recent versions you have to use the new credentials API instead. The `removeTotp` test was removed in #66.
Also see https://github.com/keycloak/keycloak-nodejs-admin-client/pull/66#discussion_r519611271

[2021-01-05 13:46] ath88 commented on #113
The latest update fixed support for Keycloak 8 with removal of the totp-endpoint. We should change the tests to not allow tests on Keycloak 8 to fail.

[2021-01-05 13:55] ath88 commented on #113
See #117. Closing this.

[2021-01-05 13:55] #113 closed

[2021-01-05 14:01] ath88 opened #118 "Test fails on Keycloak 9+"
**Describe the bug**
The tests fail with this error:
[code]

See https://github.com/keycloak/keycloak-nodejs-admin-client/actions/runs/463447567

**To Reproduce**
Spin up a Keycloak 9 for testing and run the tests-suite.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
See log verbatim above.

**Enviroment (please complete the following inform

[2021-01-06 14:07] edewit commented on #111
you can get that message with:

[code]

[2021-01-06 14:12] edewit commented on #104
@semangard are you saying that there is a problem with the types? Or are you having problems with you update? Do you have an error in the server log?

[2021-01-06 14:14] edewit commented on #99
merged 2663b8427b77608200c3685772186f4cd1d7a74c

[2021-01-06 14:14] #99 closed

[2021-01-06 18:44] semangard commented on #104
We have a group into KeyCloak: DSI-DEV-GIR

We would like to assign to it some roles:
- roles of the built-in client "realm-management"
- roles of the custom client "client1"

In order to achieve that:

1) We used the realm JSON and the operation _kcAdminClient.realms.update(myRealmAsJson)_
Result: KO: roles are not assigned to the group

2) We did the same through KeyCloakadmin console (same JSON

[2021-01-07 04:59] TheArKaID commented on #111
Well thanks for the answer, even it's a bit late, coz i was changing all my tasks to hit directly to the Admin API.

But, how can u know that ? I mean, i don't find that in any documentation (or am I miss that ?)

[2021-01-07 05:00] #111 closed

[2021-01-07 15:21] volkflo opened #120 "global is not defined (in Browser)"
**Describe the bug**
The newly introduced changes break the compatibility to use this library in browsers.
https://github.com/keycloak/keycloak-nodejs-admin-client/blob/205bfc12e907a8236b4c257a7c7555943f46d00e/src/utils/window-polyfill.ts#L1-L4

**Workaround**
Add this `(window as any).global = window;` as a workaround.

**Enviroment (please complete the following information):**
 - Keycloak Versi

[2021-01-11 07:47] edewit commented on #120
what is the error you get in the console? I use it in the browser as well with webpack and snowpack and have no problems.

[2021-01-11 08:39] volkflo commented on #120
The full error is in :
[code]
See also:
![image](https://user-images.githubusercontent.com/13332383/104160068-c4909c00-53f0-11eb-9b79-8326b31221f3.png)

[2021-01-11 09:06] ath88 opened #123 "Test using pre-configured Keycloak docker container"
**Is your feature request related to a problem? Please describe.**
Currently we start a 'clean' Keycloak container every time. If we could start a container with a custom configuration, some tests would be easier to run. Currently we don't test SMTP-related tests, since the default configuration will result in a 500 when Keycloak tries to send an email.

**Describe the solution you'd like**
Some s

[2021-01-12 08:35] #120 closed

[2021-01-12 14:20] edewit opened #125 "Add endpoints for flow and executions"
Flow:
https://www.keycloak.org/docs-api/11.0/rest-api/index.html#_createflow
Excutions:
https://www.keycloak.org/docs-api/11.0/rest-api/index.html#_getexecutions

[2021-01-13 19:23] #88 closed

[2021-01-15 19:46] haymh opened #127 "kcClient.clients.listPolicies only returns 100 records max"
**Describe the bug**
kcClient.clients.listPolicies method only returns maximum 100 records.
I haven't tested findPermissions method yet, but I would expect it behaves the same since it is using same underlying API.

**To Reproduce**
Steps to reproduce the behavior:
1. create more than 100 policies
2. call kcClient.clients.listPolicies without passing search team and note the length of response is

[2021-01-20 09:15] #125 closed

[2021-01-20 09:23] edewit commented on #127
right it should support the other params:
[code]

[2021-01-20 09:32] edewit opened #128 "Realms "endpoint" needs current realm parameter"
**Describe the bug**
All of the endpoints use the current realm as default when making the call to the backend except realms.

**Expected behavior**
For example:
[code]
this should result in a call getting the users management permissions for the realm set in config.

**Additional context**
Maybe some of these should be moved to a separate "endpoint" and not be under "realms"

[2021-01-21 09:01] rawc0der opened #130 "Authentication Management Api + Code Examples"
**Is your feature request related to a problem? Please describe.**
I'm having issues finding the correct steps for creating an **Authentication-Flow** using the management-api. This is a more complicated part of the api and some official examples would be very useful besides the test files.

**Describe the solution you'd like**
This has just been recently added in #126 and the lack of examples is

[2021-01-21 09:52] edewit commented on #130
something like this?
https://gist.github.com/edewit/df87925ebb2c084f0d15052eb7e93ff2

[2021-01-21 10:39] rawc0der commented on #130
Yes, this should be really helpful.
Any chance of providing a flow creation from scratch? I know what executions I need, but nesting them in the subflows is what Im struggling with.
Thanks again!

[2021-01-21 10:57] edewit commented on #130
by sub-flow you mean the level? You can "just" update the level of the execution to the level you need e.g.: `"level":1`

[2021-01-21 11:59] edewit commented on #130
ahh no I know what you mean adding a flow to a existing flow, I think this is missing in this api

[2021-01-21 12:38] edewit commented on #130
@rawc0der added in #131

[2021-01-23 10:30] Selion05 opened #133 "clients.findByName is confusing"
**Describe the bug**
https://github.com/keycloak/keycloak-nodejs-admin-client/blob/6778139908d702ac824141c76475abad76fbc3ac/src/resources/clients.ts#L511-L514

Just started using the client and keycloak in general so this is from a new user perspective.

My editor suggested that method and I thought  I can search clients by name, since it is clients.findByName.

Apparently you get a Policy so I th

[2021-01-25 14:55] #130 closed

[2021-01-28 21:26] bojanbass opened #135 "Library is breaking NodeJS global object"
Hi.

In version 1.14.0 or greater there was a big issue introduced regarding manipulation NodeJS `global` object. The change was done here:
https://github.com/keycloak/keycloak-nodejs-admin-client/commit/205bfc12e907a8236b4c257a7c7555943f46d00e

Any other library that can work in browsers or NodeJs can break because in case when running in NodeJs it could detect `window` object and think it is run

[2021-02-02 13:48] selimslab opened #136 "logout-all doesn't invalidate tokens"
**Describe the bug**
realms logout-all does not invalidate user sessions

**To Reproduce**

Used the sample from [docs](https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/test/realms.spec.ts)

[code]

**Expected behavior**
After calling logout-all, old userToken should be invalid

**Enviroment**
- OS MacOS
 - Keycloak Version 8.0.1
 - Library Version 1.14.0

[2021-02-03 09:36] alliedgorn opened #137 "An ability to replace axios with other axios variants"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-03 10:53] ath88 commented on #137
Currently we only support supplying configuration for axios, but that doesn't fix your problem.

This seems like a good feature. A pull request for this is welcome.

[2021-02-03 10:57] ath88 commented on #136
What is the value of `logout` after the snippet? I'm curious about the response from the server.

[2021-02-03 11:37] selimslab commented on #136
it's an empty object {}

[2021-02-10 01:02] jewanisw commented on #127
If this is being fixed, this problem seems widespread. It's the same for kcClient.users.find and kcClient.realms.findEvents.

[2021-02-10 06:47] edewit commented on #127
@jewanisw yes it's limited to 100, but you can set it to something else for users and find events by setting the max for `listPolicies` it's missing this in the types.

[2021-02-21 08:17] #136 closed

[2021-02-22 10:40] ath88 commented on #136
@selimslab Was the problem solved?

[2021-02-26 13:50] dennismorello commented on #135
+1. This is breaking all Next.js apps in which `keycloak-admin` is used on the server.

[2021-03-01 09:41] dennismorello commented on #135
I am missing the reason why this library should polyfill the `window` object 🤔

[2021-03-01 09:46] bojanbass commented on #135
I suppose this is because it's using `keycloak-js` library in behind, which is a client side only I guess. It shouldn't be used this way.

[2021-03-01 09:47] dennismorello commented on #135
Yes, it should not be used this way, I totally agree.

[2021-03-01 09:49] dennismorello commented on #135
@abstractj @edewit any update on this? Thank you 😃

[2021-03-01 10:06] edewit commented on #135
it's been fixed in #122 and released in version 1.14.5

[2021-03-01 10:10] dennismorello commented on #135
I'm using version 1.14.8 and this issue is still present.

[2021-03-01 10:36] selimslab commented on #136
I was expecting the access token to be invalid after the session is removed

Turns out  the access token is still valid after removing the session, and the client doesn't log out

Solved by removing the token from client

[2021-03-01 12:20] edewit commented on #135
@dennismorello so what do you suggest?

[2021-03-01 12:44] dennismorello commented on #135
I expect this lib to run in a Node.js app, so I would totally remove the fake `window` polyfill. If it causes incompatibilities with other dependencies, I would refactor the project in order to respect the Single Responsibility Principle.

[2021-03-01 12:45] dennismorello commented on #135
I can fork the project and do some tests by myself.

[2021-03-03 12:04] #135 closed

[2021-03-03 12:52] bojanbass commented on #135
Great, I've tested it and it works fine now.

[2021-03-03 13:22] edewit commented on #135
cool thanks @bojanbass

[2021-03-05 10:52] #40 closed

[2021-03-05 10:52] #133 closed

[2021-03-05 10:52] #127 closed

[2021-03-09 23:07] jonnytest1 opened #145 "Add AccountRestService interfaces"
**Is your feature request related to a problem? Please describe.**
When editing user attributes via api call i want to make sure there can be absolutely no privilege escalation
thats why i want to use the user access token as authorization to set those attributes

**Describe the solution you'd like**
An implementation of the interfaces defined in https://github.com/keycloak/keycloak/blob/master/se

[2021-03-17 08:04] ath88 commented on #145
You're suggesting we add support for the Account API? I am not sure that's within scope as this project has a specific focus on the admin APIs.

Calling the Account API can be done directly from your frontend - there's no need to mix those capabilities, in my perspective.

[2021-03-17 08:43] jonnytest1 commented on #145
the admin apis can also be called from the frontend - that shouldnt be the reason not to provide them to your library

[2021-03-17 18:11] xAl3xFx opened #146 "Can't assign role to user"
Hello guys, I am trying to add role-mapping to existing user in keycloak. I am using **addClientRoleMappings**. I tried debugging the library and I figured out that the URL is correct.  Here is my code.

[code]

I am getting **Error: Request failed with status code 404**

**Expected behavior**
I am fairly sure that the final url that is being sent to the keycloak endpoint is correct and I am expec

[2021-03-17 18:33] xAl3xFx commented on #146
I AM STTTTUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUPIIIIIIIIIIIIIIIIIIIIIIIIIIDDDDDDDDDD

[2021-03-17 18:48] xAl3xFx commented on #146
I fixed the problem. It turned out that I have hardcoded not corresponding roleId to roleName.

[2021-03-17 18:48] #146 closed

[2021-03-19 16:40] SLee9211 opened #147 "users.removeTotp() no longer supported."
**Describe the bug**
I am writing a script to reset user OTPs, but it seems that users.removeTotp() is not working.  We are on Keycloak version 11.0.3 which I believed was supported by this library.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. API Call:  kcAdminClient.users.removeTotp({ id })
2. Returned with an error:
    `error: 'RESTEASY003210: Could not find resource for full

[2021-03-19 20:11] ath88 opened #148 "Warn when using deprecated endpoints"
**Is your feature request related to a problem? Please describe.**
When using the library, it is unclear to a user when they are using endpoints that are not supported by their version of Keycloak. It would be great to emit some sort of deprecation warning.

**Describe the solution you'd like**
Perhaps the library could detect the version of Keycloak being targetted, so it can properly warn on end

[2021-03-19 20:12] ath88 commented on #147
Unfortunately we don't have a good warning when there are single functions that are not supported for specific Keycloak version. In tests, the removeTotp-method is only being tested against Keycloak 7, since the endpoint has been removed from Keycloak 8. See https://github.com/keycloak/keycloak-nodejs-admin-client/pull/66/commits/48fd1f6fa9102058fb4ff89b90a7c1e2b8b80213.

I've opened https://githu

[2021-03-19 20:12] #147 closed

[2021-03-26 09:58] MRJCrunch commented on #49
@zagaria we use 10.0 version and got the same problem:
[code]
[code]

[2021-03-27 15:18] ccravens commented on #69
@edewit would you be able to put me on the list of maintainers as well? This library is extremely important to me and I do not want it to go stale. I also currently have PR awaiting merge and am finding small issues with latest versions of keycloak. Thanks!

[2021-03-29 07:06] MRJCrunch commented on #49
And I have the same issue with 12.0.4

[2021-03-29 08:04] kdankert commented on #49
I figured out, that this is not the fault of the admin Client. The admin Rest api gives back those results, so I guess keycloak needs a mapper to be configured in order to provide an user's groups.

[2021-03-29 08:31] MRJCrunch commented on #49
@kdankert Do you have an example of how to receive groups from users API? I added groups mapper but nothing happens
![image](https://user-images.githubusercontent.com/17198997/112809038-486a3400-9082-11eb-95c6-ba4cd230d0dc.png)

[2021-03-29 08:36] kdankert commented on #49
I have not tried it out, cause my application didn't need it anymore. So I unfortunately can't help you with that.

[2021-03-29 08:43] edewit commented on #69
It's not going stale we are now using it for the new admin console. So everything that can be done with the admin console will get added to this library. Also it's now official part of the keycloak release process

[2021-03-29 08:43] #69 closed

[2021-03-29 08:44] edewit commented on #69
@ccravens just open a PR where you add yourself to the maintainers list

[2021-03-29 20:21] marcus-sa commented on #29
+1 I'm curious about this as well

[2021-04-01 22:07] netevolution opened #153 "How to abort a request?"
Hello,

I use your library in React. I would need to stop an ongoing request before disconnecting the component. How can I achieve this?

Ideally I would need to use something like here:
https://developers.google.com/web/updates/2017/09/abortable-fetch

[2021-04-07 09:26] edewit commented on #153
@netevolution we use axios as the transport layer it does have something for aborting requests we should expose this in the API

[2021-04-07 09:28] edewit opened #154 "listCompositeRealmScopeMappings is using wrong endpoint"
**Describe the bug**
The `listCompositeRealmScopeMappings` of clientScope is using the same endpoint as `listAvailableRealmScopeMappings`

**Expected behavior**
It should use `/composite` instead of `/available`

[2021-04-07 11:48] netevolution commented on #153
@edewit I also use Axios in my projects. Yes, you are right that there is such a possibility.
So can I expect this option to be available in your library?

Thank you for answer.

[2021-04-07 12:42] edewit commented on #153
Yes, I'll add it...

[2021-04-07 15:49] edewit commented on #153
or if you have a shared `KcAdminClient` somewhere use the `setConfig`:

[code]

[2021-04-08 12:40] #153 closed

[2021-04-09 11:12] #154 closed

[2021-04-09 11:16] edewit commented on #148
The `serverinfo` endpoint is used extensively in the admin console, for things like `protocolMapperTypes`, `themes` and `clientSignature` so I think it's fine to base it on that.

[2021-04-14 11:52] husoman opened #159 "Method Addition: listCompositeClientRoleMappings under Users class"
I need a method for getting User Composite Roles. In my opinion, related endpoint would be
**GET /{realm}/users/{id}/role-mappings/clients/{client}/composite** for such a method.
Please see "Get effective client-level role mappings" in the following link:
https://www.keycloak.org/docs-api/5.0/rest-api/index.html#_client_role_mappings_resource

[2021-04-15 08:38] LRipi commented on #159
Closed by #158

[2021-04-15 08:52] edewit commented on #159
ahhh yes thanks @LRipi. @husoman this is done and released in `1.14.12`

[2021-04-15 08:52] #159 closed

[2021-04-15 09:34] semangard opened #160 "Update of a SAML federation does not work (from realm json)"
**Describe the bug**
A SAML identityProviders is not updated from the realm json (e.g.: SAML signature's validation).

**To Reproduce**
1. Create an SAML Identity provider on a realm
2. Try to update a realm in order to activate the SAML signature's validation of this provider (updated realm JSON)

=> The SAML Identity provider is not updated,

Extract of the JSON :
![image](https://user-images.gi

[2021-04-15 09:52] semangard commented on #160
In fact it even worst:

- if I delete the Identity provider
- this one is not re-created from the realm JSON
- this one is only created if the realm is also re-created....

[2021-04-20 10:06] VijoPlays opened #161 "Bug: Missing Locale translation (German)"
**Describe the bug**
When using Keycloak's redirect to log into a web app, the locales work, but the German one is missing a translation.

**Expected behavior**
It should say something along the lines of "Melden Sie sich an" or "Melden Sie sich in Ihrem Konto an", instead of "Sign in to your account".

**Screenshots**
![Screenshot](https://i.imgur.com/2rOe7W5.png)

[Clickable screenshot](https://i

[2021-04-22 08:21] edewit commented on #161
@VijoPlays this should be a bug for the keycloak project and not the keycloak-nodejs-admin-client. I think the text should be "Bei Ihrem Konto anmelden" as defined in the `messages_de.properties` don't know why it doesn't work for the title

[2021-04-22 08:29] edewit opened #162 "Support import-config endpoint for identity providers"
https://www.keycloak.org/docs-api/11.0/rest-api/#_importfrom

[2021-04-22 09:13] edewit commented on #160
I think you are not using the right methods to update the identity providers. To change an existing SAML idp to set `validateSignature` to true you can do this:

[code]

[2021-04-22 09:28] VijoPlays commented on #161
Yeah, this is the only project I can create Issues in, so I just had to dump it in here

[2021-04-22 09:33] edewit commented on #161
right keycloak doesn't use github issues but jira you can create an issue here: https://issues.redhat.com/projects/KEYCLOAK

[2021-04-22 12:14] #161 closed

[2021-04-24 11:29] semangard commented on #160
Thanks for your feedbak.
Yes I could BUT :-) I would prefer to manage everything from a single JSON : the JSON of the realm
It works for the realm's creation but not later (e.g. for a realm's update)
It would be great to have a lib who could do this cleverly using the appropriate API if there are some lacks or limitations on the KeyCloak API.
Hope you see what I mean.

[2021-04-25 19:42] edewit commented on #160
This library is simple and only calls the keycloak API I don't think the realm API was meant to be used / designed like this. One thing that you could try if you really just want it to work like this is deleting the realm and then recreate it.

[2021-04-25 20:11] #160 closed

[2021-04-28 09:29] #162 closed

[2021-05-05 17:45] Mimameid opened #166 "npm package not associated with the github repository"
The npm package is not associated with this repo. Nor is this repo associated with any npm package as far as I can tell.

I tried to figure out if this repository is published as an npm package. One would assume so, and it probably, as the link in the README hints, is. But I can't tell which of the packages I found is the official one.

The link in the README.md is broken, see: https://badge.fury.

[2021-05-06 05:49] edewit commented on #166
@Mimameid right we should fix this atm it's published in 2 places

1. https://www.npmjs.com/package/@keycloak/keycloak-admin-client
2. https://www.npmjs.com/package/keycloak-admin

The fist one is released together with that version of keycloak the second one is release at a quicker pace

[2021-05-08 10:39] xCryzed opened #168 "[BUG] Composite roles are missing when creating a role"
Unfortunately the composite roles are not saved when a role is created with the keycloak-admin module.

I'm calling the function:

`await kcAdminClient.roles.create(realmRole)`

where realm role is the following object:

[code]

After the function call a realm role with the name user is created, but the composite boolean is false and there are no composite roles.

If I try afterwards to add the co

[2021-05-13 11:13] T-VN opened #172 "Role name is deleted after call [Update a role by name]"
**Describe the bug**
Role name is deleted after call [Update a role by name]

**To Reproduce**
Steps to reproduce the behavior:
1. What API did you use? => Update a role by name
2. What error message did you see?

a. send PUT request {{server}}auth/admin/realms/{{realm}}/roles/{roleName}

Request body
{
        "description": "description",
        "composite": false,
        "clientRole": false
}

[2021-05-21 12:26] edewit commented on #172
you can fix it by adding the role name to the body of your request:
[code]
It's a bug in keycloak...

[2021-05-21 12:39] edewit commented on #168
You can't create a composite role on creation, this api is close to what the admin console does. So have a look how to create composite roles there.

You create a role first:
[code]
Then add composites:
[code]
Does that make sense?

[2021-05-24 18:03] anasabdullahysfzai opened #173 "403 Unauthorized while updating user"
**Describe the bug**
I am getting 403 unauthorized when i try to update user after i create request but if i start the app and directly call the update endpoint , it works.

**To Reproduce**
Steps to reproduce the behavior:
1. I have used both older and latest (1.14.17) versions
2. I am getting 403 unauthorized when i update the user

this is the code example

await kcAdminClient.auth({

[2021-05-24 20:06] #173 closed

[2021-05-24 20:07] anasabdullahysfzai commented on #173
I am sorry , i was using the wrong realm for update purpose

[2021-05-28 05:35] harrylepotter-win commented on #28
Did anyone figure out a means of doing this using a public client?

[2021-05-31 03:53] harrylepotter-win opened #174 "PolicyRepresentation should have specific extended interface for Role Policies"
**Is your feature request related to a problem? Please describe.**
Attempting to create a role-based policy by putting the role requirements in the `config` object defined in `PolicyRepresentation` causes an unknown error response from keycloak.

Example code:
`
          await this.kcAdminClient.clients.createPolicy({
            id: 'e7232c1b-c8bb-4ead-bdac-53522d49dfc1',
            type: 'role

[2021-06-08 04:51] giamma13 opened #176 "kcAdminClient.groups.find() fails very often"
I have a program that tries to navigare my groups in KeyCloak.

First thing we do is to read the groups with:
- kcAdminClient.groups.find()

and then we iterate on each of them

[code]

My problem is that the KeyCloak server doesn't seem to handle this request.

I have around 40 groups and each of them with a bunch of subgroups.
I do not think its anything out of the ordinary.

This is the excepti

[2021-06-08 07:21] Kuchenm0nster commented on #77
I have exactly this use case. Is there any way to send a custom requiredAction without building a post request on my own?

[2021-06-10 05:54] edewit commented on #176
Do you have similar problems using the admin UI?

[2021-06-10 05:58] giamma13 commented on #176
Yes also with the ADMIN UI i get an error.

Same with export of the realm.

My KeyCloak it's running in a container

[2021-06-10 06:00] edewit commented on #174
when you put it at the root level isn't it then ignored by the server?

[2021-06-10 06:01] harrylepotter-win commented on #174
nope.. that seems to work fine.

[2021-06-10 06:03] edewit commented on #174
right I see there is also the type: `RolePolicyRepresentation` that it should use here instead

[2021-06-10 07:25] edewit commented on #176
Guess it would be better to create an issue on the [keycloak jira](https://issues.redhat.com/browse/KEYCLOAK)

[2021-06-14 09:40] nidomiro opened #179 "requestConfig.params is ignored by user-calls"
**Describe the bug**
Params get overwritten by user calls

**To Reproduce**
Steps to reproduce the behavior:
1. What API did you use?
2. What error message did you see?
3. GIve us a minimum code example

KeycloakAdminClient config
[code]

Calling code:
[code]

LogOutput:
[code]

**Expected behavior**
The param defined in the requestConfig to appear in all calls as query-parameter.

Example:
[code]

[2021-06-14 14:17] jenny-s51 opened #180 "Update RealmRepresentation with correct attribute name"
**Describe the bug**
A clear and concise description of what the bug is.

_Originally posted by @vramik in https://github.com/keycloak/keycloak-admin-ui/issues/687#issuecomment-858395506_

https://github.com/keycloak/keycloak-nodejs-admin-client/blob/e9716681b42de1b43ef469f043bc70a600453cb1/src/defs/realmRepresentation.ts#L43

**To Reproduce**
Steps to reproduce the behavior:
What API did you use?

[2021-06-25 08:47] edewit commented on #179
@nidomiro `briefRepresentation` is something you can pass into the call like so:

[code]

[2021-06-25 13:35] raj-katonic commented on #45
+1

[2021-07-06 16:59] CamposBruno commented on #24
I'm having the same issue:
`location header is not found in request: http://localhost:8080/admin/realms/myrealm/users`

any thoughts ?

[2021-07-08 05:16] benjamin658 opened #184 "GroupRepresentation doesn't contain attributes"
**Describe the bug**

The interface of the GroupRepresentation contains the `attributes` property, but the actual result doesn't.

Actual result
[code]

**To Reproduce**
Steps to reproduce the behavior:
Simply call `kcAdminClient.groups.find({search: $name})`;

1. What API did you use?
kcAdminClient.groups.find({search: $name});

2. What error message did you see?
No error message.

3. GIve us a m

[2021-07-19 08:53] clayrisser opened #185 "List resources name should be removed"
**Describe the bug**
The `name` property should not be required in list resources. I also noticed that it is not even being used.

https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/src/resources/clients.ts#L475

[2021-07-20 13:50] jonkoops opened #187 "Use @Nonnull annotations on Java models and generate strict TypeScript"
**Is your feature request related to a problem? Please describe.**
Currently we are generating our models based on the Java source from the main Keycloak repo. Since this code is Java all the fields generated in our models are nullable, even if these fields are always present.

This introduces a problem if you are running TypeScript in strict mode, as it will now generate compilation errors when a

[2021-07-21 20:56] jenny-s51 opened #189 "Support push-revocation endpoint for clients"
https://www.keycloak.org/docs-api/11.0/rest-api/#_push_revocation

[2021-07-22 08:02] edewit commented on #189
already done... #132

[2021-07-22 08:02] #189 closed

[2021-07-22 11:57] edewit commented on #184
The find returns a brief version of the group to get the whole group you need to fetch it

[code]

[2021-07-23 12:44] #185 closed

[2021-07-23 18:33] jenny-s51 opened #190 "pushRevocation call sends empty payload"
**Describe the bug**
A clear and concise description of what the bug is.

See https://github.com/keycloak/keycloak-admin-ui/pull/896#discussion_r675665138

**To Reproduce**
Steps to reproduce the behavior:

In new Keycloak admin console
1. Go to clients -> select a client -> Advanced tab
2. Click "Push" in the Revocation section (uses the `pushRevocation` call declared here: https://github.com/key

[2021-07-24 20:39] davide-talesco opened #191 "would you guys consider to split defs representation between create and update interface"
IE.
Split RealmRepresentation.ts To: CreateRealmRepresentation.ts and UpdateRealmRepresentation.ts

**Is your feature request related to a problem? Please describe.**
As the create Realm accept a generic RealmRepresentation I will not be warned if say when calling the create I did not set the required realm property, which will cause keycloak to return a 500

Thanks,
Davide

[2021-07-26 08:45] Gr0bs opened #192 "Access Denied - Keycloak.enforcer() doesn't work ?"
Hi,
I try to use keycloak with nodejs but I had issues when I try to use keycloack.enforcer.
First I created my client with "Credential" type and so on. But when I use keycloak.protect() everything work, but not with keycloack.enforcer().

So I ask yself why and maybe it's my fault for not configure keycloak correctly.
But when I use you example with the keycloak Realm you provide, this didn't wor

[2021-07-26 08:53] #192 closed

[2021-07-28 13:59] jenny-s51 opened #193 "Support push-revocation endpoint for realms"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Support push-revocation endpoint for roles:
POST /{realm}/push-revocation

Already exists for clients:
POST /{realm}/clients/{id}/push-revocat

[2021-07-28 14:00] jenny-s51 commented on #190
Closing this issue as it should send an empty payload per review by @edewit - there is a bug in the old console. Opened #193 to add push-revocation call to realms in addition to clients where it currently exists as a different call.

[2021-07-28 14:00] #190 closed

[2021-07-29 11:45] edewit commented on #191
Yes the definitions are generated from the Java endpoints using the Java classes as input in Java a `String` is always optional as it can be `null`. There are others that have suggested similar enhancements to the type system for instance by annotating the Java classes with @NotNullable for instance.

[2021-07-29 11:53] edewit opened #196 "Event search doesn't serialize the query right"
**Describe the bug**
When searching for events one can specify multiple 'type's. But the query isn't serialized in a way that the server picks them up.

**To Reproduce**
Steps to reproduce the behavior:

[code]
**Expected behavior**
A query string looking like `type=LOGIN&type=LOGOUT`, but it does `type[]=LOGIN&type[]=LOGOUT` this is not what keycloak expects.

[2021-07-30 03:46] benjamin658 commented on #184
Hi @edewit, thanks for your reply.

However, the `briefRepresentation` option doesn't present in the typedef. Is it a bug?

[2021-07-30 07:12] edewit commented on #184
ahh yes that is right I'll fix that. as a workaround you can cast:

[code]
or add a `@ts-ignore`

[2021-07-30 07:50] #193 closed

[2021-08-10 09:47] #184 closed

[2021-08-11 00:17] backbone87 opened #204 "Users.find causes TS errors when passing possibly undefined filter params"
**Describe the bug**
Users.find causes TS errors when passing possibly undefined filter params

**To Reproduce**
[code]
[code]

**Expected behavior**
No type errors

**Enviroment (please complete the following information):**
 - Library Version: 1.14.21

**Additional context**
introduces in https://github.com/keycloak/keycloak-nodejs-admin-client/pull/195
typing should be changed to:
[code]

[2021-08-16 13:58] jenny-s51 opened #205 "keycloak property has type any"
**Describe the bug**
A clear and concise description of what the bug is.
See https://github.com/keycloak/keycloak-admin-ui/pull/896#discussion_r684386959

**To Reproduce**
Steps to reproduce the behavior:
1. Search `adminClient.keycloak` in the new admin console repo
2. See that the type is identified as `KeycloakAdminClient.keycloak: any`

[2021-08-16 14:10] jenny-s51 opened #206 "Set return type of pushRevocation to GlobalRequestResult"
**Describe the bug**
A clear and concise description of what the bug is.
The return type of pushRevocation is cast to GlobalRequestResult though it should be set explicitly in the admin client:

See https://github.com/keycloak/keycloak-admin-ui/pull/896#discussion_r684391190

and

https://github.com/keycloak/keycloak-admin-ui/blob/bc1e83e63aab07a31d5f06fa7904703609ccd651/src/clients/AdvancedTab.ts

[2021-08-17 07:06] edewit commented on #205
This is because we don't want to import the keycloak-js statically as it will make this package not usable in node. Under normal usage you wouldn't need to access this property

[2021-08-17 07:33] #196 closed

[2021-08-17 08:43] jonkoops commented on #205
We can still only import the type using a [type-only import](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export) perhaps?

Something like:
[code]

[2021-08-17 09:42] semangard opened #208 "Assign an authentication flow to a client based on flow's name instead of flow's id"
**Is your feature request related to a problem? Please describe.**
We would like to assign authentication flows to an OIDC client.
The current way _seems_ to use authentication flow's ID, is that correct ? Do you have any test example ?
![image](https://user-images.githubusercontent.com/57065741/129732808-cfa466bc-b1d6-4075-9bb6-90b170d75295.png)

If our assumption is correct, there is an issue be

[2021-08-17 13:24] semangard opened #209 "Unable to retrieve authenticationFlows of a realm"
**Describe the bug**
According to the doc : https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/src/defs/realmRepresentation.ts
It should be possible to retrieve the list of authentiocation flows of a realm
![image](https://user-images.githubusercontent.com/57065741/129733230-0b814c87-c3ff-44d9-a60e-2f7f62f56b87.png)

We tried but none flow is found

![image](https://user-images.g

[2021-08-18 13:10] #206 closed

[2021-08-18 13:10] #204 closed

[2021-08-19 12:51] edewit commented on #205
right if that works that would be great

[2021-08-20 12:14] jonkoops opened #210 "Publish pre-release versions on every commit on master"
**Is your feature request related to a problem? Please describe.**
We need to be able to publish a pre-release version of the admin client so that changes can be pulled into the new admin console during development without releasing a new version of Keycloak.

**Describe the solution you'd like**
On every commit to `master` the package should be built and published as [`@keycloak/keycloak-admin-cl

[2021-08-20 13:49] jonkoops opened #211 "Deprecate all packages except @keycloak/keycloak-admin-client"
**Is your feature request related to a problem? Please describe.**
We want to support only a single NPM package instead of publishing multiple ones with different version schemes.

**Describe the solution you'd like**
Use [`npm deprecate`](https://docs.npmjs.com/cli/v7/commands/npm-deprecate) to deprecate the following packages:
- [keycloak-admin](https://www.npmjs.com/package/keycloak-admin)
- [k

[2021-08-22 16:08] edewit commented on #209
To get the authentication flows there is another endpoint:

[code]

[2021-08-22 16:24] edewit commented on #208
You can create a new flow and you get the id of that created flow as a result:

[code]
Then you can assign it to a client flow:

[code]

Isn't that easy enough?

[2021-08-23 09:34] #210 closed

[2021-08-23 10:01] semangard commented on #209
OK thanks.

[2021-08-23 20:02] #209 closed

[2021-08-23 20:31] semangard commented on #208
Hummm, few feedbacks :

a) Yes it can help, but in my case flows are created withing the realm json so I do have simply the flow ID as the result of the creation => I have to write some aditional code to retreive flows ID from their name before assigning these ID to clients, it might more straight forward if I could asign directly flow aliases to clients instead of only flow ID

b) Just a little t

[2021-08-23 20:32] semangard commented on #208
I got it, it was direct_grant and not directGrant....
![image](https://user-images.githubusercontent.com/57065741/130515425-653e240e-1889-4175-b7ef-da5969c0c994.png)

it works now

[2021-08-24 07:19] edewit commented on #208
Cool glad it worked

[2021-08-24 07:19] #208 closed

[2021-08-24 09:17] jonkoops opened #230 "Re-enable localization tests"
For some reason the localization tests do not work on the latest Keycloak server, so they have been disabled in #229. These tests will need to be fixed and re-enabled.

[2021-08-27 15:05] pommelinho opened #235 "CredentialRepresentation is deprecated"
**Is your feature request related to a problem? Please describe.**
This is the current https://www.keycloak.org/docs-api/15.0/rest-api/index.html#_credentialrepresentation.
However the Type Specification of CredentialRepresentation is deprecated.
Cany you update this?

[2021-08-28 20:25] blevine commented on #49
This seems to be a common issue with this client. The client advertises support for properties in various payloads which the server doesn't actually support.

[2021-08-28 20:49] blevine opened #236 "resource type definitions advertise properties that are not supported by the Keycloak REST API"
There are cases in which the type defs in this client are not supported by the Admin REST API.  Here is one example:

I included a client role mapping in my users.create() call and the role mappings were not created after the successful request.

Looking at the Keycloak server source, I can see that roles are not actually processed.

#49 is another example of this.

This seems to be a generic prob

[2021-09-02 08:44] edewit commented on #236
The types are generated based of the Java model and if you looked at the source you'll see that `createUser` takes `UserRepresentation`, also the documentation uses this. So for us there is no easy way to make these types better. Alternative way to see how to use this API is by going to the keycloak admin console and see what requests it is making for the various operations.

[2021-09-02 10:12] edewit commented on #211
deprecated `keyckoak-admin`, but we are not maintainers of `keycloak-nodejs-admin-client` so we can't deprecate that one

[2021-09-02 11:53] jonkoops commented on #211
Looks like nobody depends on it, and since we are not the owner let's close this issue.

[2021-09-02 11:53] #211 closed

[2021-09-02 12:26] blevine commented on #49
I'm aware of how to use the API.  The point is that it's very frustrating when you can't believe the documentation or the generated types and you have to look at the server source code.  I realize that this problem originates with the Java class definitions and the REST API documentation

[2021-09-02 12:45] edewit commented on #49
@blevine right, it's not a problem of this client, more a problem with how keycloak has defined this admin REST API

[2021-09-03 18:28] DarrenCook opened #245 "Get a 405 trying to delete a user using the API"
**Describe the bug**

The command to delete a user does not seem to be working.

**To Reproduce**

I followed the example in https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/test/users.spec.ts

[code]

I expect it to quietly delete the user. Instead I get an exception thrown:

[code]

I've logged into the admin console, found the user and deleted them there and it works; so I t

[2021-09-06 08:03] jonkoops commented on #118
This issue has been resolved.

[2021-09-06 08:03] #118 closed

[2021-09-06 08:14] jonkoops commented on #235
@pommelinho What would you like us to do here? Deprecated functionality does not necessarily mean that this API no longer works.

[2021-09-12 20:46] lmorningstar116 opened #253 "The realm role is not added when creating a user."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
When creating a user, I call the _kcAdminClient.users.create_ function.

I pass the object there:
[code]
But after the user is created, the role is not applied to the user.

**Expected behavior**
The roles that are transferred in the array are applied to the user.

**Envirome

[2021-09-13 10:03] ivenpoker commented on #253
Faced similar issue recently with `keycloak:15.0.0`

[2021-09-15 17:45] ivenpoker commented on #253
@lmorningstar116

Found this [stackoverflow](https://stackoverflow.com/questions/60812831/unable-to-assign-realm-role-to-a-newly-created-keycloak-user-via-admin-rest-api) post quite helpful. From the proposed solution, you could just create a group on keycloak and map the roles you want to assign to the user, then after creating the user ... just add the created user to the group. By inheritance,

[2021-09-15 18:01] ivenpoker commented on #253
By the way, you could equally just add `groups: [<some-groups>]` to the user payload and it will do something as above.

[2021-09-16 19:40] jenny-s51 opened #256 "Add endpoint to update client policies"
Extends #255

[2021-09-16 20:43] jenny-s51 opened #257 "Add endpoint to create client policies"
Extends #255 and #256

[2021-09-17 04:51] SameerChorge94 opened #259 "keycloak users findMany option"
Hello,

I checked for the option to find many users by providing multiple userName or email, but didn't get any.

As per my project requirement i need to fetch the multiple users by the email-Id's and then to update their userAttributes.

As per with the find One user option we need to make the separate calls for each user for fetcing and then need to update that user's attributes, it's not feasib

[2021-09-17 10:54] jonkoops commented on #259
You can use the [`Users.find()`](https://github.com/keycloak/keycloak-nodejs-admin-client/blob/master/src/resources/users.ts#L27-L29) method to retrieve a list of users based on a set of filters. The admin client is limited by what the API [supports](https://www.keycloak.org/docs-api/15.0/rest-api/#_getusers).

[2021-09-17 10:54] #259 closed

[2021-09-17 16:52] kbhuvan890 opened #260 "KeyCloak API 'logout-all' endpoint returns error"
**Describe the bug**
KeyCloak API 'logout-all' endpoint returns error

**To Reproduce**
Steps to reproduce the behavior:
1. What API did you use?
    **http://localhost:8080/auth/admin/realms/{RealmName}/logout-all**
2. What error message did you see?
  **ERROR [org.keycloak.services.error.KeycloakErrorHandler] (default task-9) Uncaught server error: org.jboss.resteasy.core.NoMessageBodyWriterFoun

[2021-09-21 09:01] acidoxee commented on #57
This is still a problem with the latest client when providing the `connectionConfig` object manually to the constructor. Using Keycloak's provided auth server URL (`http://localhost:8080/auth/` in my case) throws a 404 error on `.auth` method. Removing the trailing slash does the trick.

[2021-09-21 20:13] richardjkendall commented on #245
I have the same issue

[2021-09-22 19:25] jenny-s51 commented on #256
closed via #258

[2021-09-22 19:30] jenny-s51 opened #265 "Update RealmRepresentation to include clientPolicies and clientProfiles"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The Keycloak API is missing these attributes though they are present in the `realm` object.

Try creating a new realm in the old console and you will see that these attributes are present upon realm creation:

<img width="970" alt="Screen

[2021-09-27 07:10] #265 closed

[2021-10-04 01:18] lmorningstar116 commented on #253
Yes, the group solution did the trick. At first it will work, but this behavior is very strange.

[2021-10-04 01:18] #253 closed

[2021-10-06 14:45] stevehogdahl opened #276 "Add support for Event APIs"
We're looking for a feature that will allow us to report on a users past sessions. We've enabled the login/logout events in admin and track this in our own database. Adding support for the events apis would allow us to pull directly from keycloak.

[2021-10-07 09:12] jonkoops commented on #276
@stevehogdahl Can you link to the specific APIs from the [documentation](https://www.keycloak.org/docs-api/15.0/rest-api/index.html) that you are missing in the admin client?

[2021-10-13 13:18] edewit commented on #260
@kbhuvan890 could you post your code so that we can reproduce this? There is a test for this function that seems to work fine.

[2021-10-18 15:34] Shriyanshmit opened #285 "Unable to get Group information using https://github.com/keycloak/keycloak-nodejs-connect library sample"
Please let me know the procedure to get group name associated to a user using access/Id token in examples code of https://github.com/keycloak/keycloak-nodejs-connect.

Thanks
Shreyansh Jain

[2021-10-19 07:24] edewit commented on #260
@namph-uet see the error that you get. You are not sending json, but `application/octet-stream` switch to json and it will work. Or try this library instead of postman:

[code]

[2021-10-19 11:41] #285 closed, assigned to nobody

[2021-10-21 16:53] ddezoysa opened #287 "groups.find with `briefRepresentation=false` to fetch Group Attributes in the response"
**Is your feature request related to a problem? Please describe.**
When getting the list of groups it is not returning group attributes with `groups.find()`.
[code]
 It is frustrating to load all attributes by iterating group list again with `groups.find()` which makes many API requests and having less performance.

**Describe the solution you'd like**
According to https://keycloak.discourse.group

[2021-10-22 03:13] #287 closed, assigned to nobody

[2021-10-26 13:34] MD-AZMAL opened #293 "List all client returns an empty array"
**Describe the bug**
on using the keycloak admin client when I invoke the list all clients method, it returns an empty list. However there are plenty of clients in my keycloak admin dashboard.
**To Reproduce**
Steps to reproduce the behavior:
1. What API did you use?
```GET /auth/admin/realms/{realm}/clients```
2. What error message did you see?
No error message but i don't get the list of clients

[2021-10-27 12:56] #293 closed, assigned to nobody

[2021-10-29 14:12] ddezoysa opened #295 "`users.listGroups` does not support `briefRepresentation`"
**Describe the bug**
Although `groups.find` supports `briefRepresentation: false` to fetch additional attributes of the group,
`users.listGroups` does not support `briefRepresentation`

**To Reproduce**
Steps to reproduce the behavior:
1. What API did you use? `users.listGroups`
2. What error message did you see? No error message, but group `attributes` are null.
3. GIve us a minimum code example

[2021-11-02 06:13] #179 closed

[2021-11-02 11:39] edewit commented on #245
@DarrenCook did this solve it? I'm going to close it as we didn't hear from you

[2021-11-02 11:39] #245 closed

[2021-11-02 11:40] #236 closed

[2021-11-02 11:40] #235 closed

[2021-11-02 11:55] DarrenCook commented on #245
If "this" means the comment by Richard Kendall, I don't think that is applicable: I had confirmed user.id was a valid string, and not null.

But if there has been a related bug fix I can try upgrading and running a test at some point.

[2021-11-02 12:32] edewit commented on #245
@DarrenCook do you have some more information how we could reproduce this issue. We didn't fix is as we can't reproduce this.

[2021-11-02 13:10] #176 closed

[2021-11-02 13:10] #172 closed

[2021-11-02 13:10] #168 closed

[2021-11-02 13:10] #166 closed

[2021-11-02 13:13] edewit commented on #145
@jonnytest1 why would you want to have them? How would it be useful?

[2021-11-02 13:16] #295 closed

[2021-11-02 13:17] #59 closed

[2021-11-02 13:18] #57 closed

[2021-11-02 13:32] edewit commented on #49
created issue [KEYCLOAK-19740](https://issues.redhat.com/browse/KEYCLOAK-19740) to address this

[2021-11-02 13:32] #49 closed

[2021-11-02 13:36] edewit commented on #29
stale issue more a question about how to use keycloak

[2021-11-02 13:36] #29 closed

[2021-11-02 13:37] edewit commented on #23
duplicate of #29

[2021-11-02 13:37] #23 closed

[2021-11-02 13:38] #22 closed

[2021-11-02 13:39] edewit commented on #191
I've create [KEYCLOAK-19740](https://issues.redhat.com/browse/KEYCLOAK-19740) to address this.

[2021-11-02 13:39] #191 closed

[2021-11-02 13:40] edewit commented on #187
step one created issue [19740](https://issues.redhat.com/browse/KEYCLOAK-19740) to change types on keycloak to add the annotations and make the types of the lists / create methods better.

[2021-11-02 16:34] jonnytest1 commented on #145
to be able to update your user profile while only provding an account level token

[2021-11-05 11:14] edewit commented on #145
@jonnytest1 so you have a script that logs in for each user to change their user profile? Wouldn't that mean that you have the username and password of each user? Or how would this work? Wouldn't it be more secure to do this via the admin console?

[2021-11-05 13:16] jonnytest1 commented on #145
the frontend does a backend call that is authorized by a user token
the backend then wants to set a user attribute but only has the user token
so the bakcend uses the admin client to update the user
(however currently you need to uplevel to an admin token to update attrubtes the user token would have permissions for already since its only updating for the current user)

[2021-11-08 09:45] edewit commented on #145
okay thanks @jonnytest1 I get it now, guess this could be a nice to have.

[2021-12-19 20:42] d-vo opened #340 "PolicyRepresentation missing roles and groups"
### Describe the bug

From the current admin console, it is possible to implement role-based policies with the following requests being issued:

decisionStrategy: "UNANIMOUS"
logic: "POSITIVE"
name: "Test policy"
roles: [{id: "dcd91634-b0d2-4656-b68b-a00acc1060fx"}]
0: {id: "dcd91634-b0d2-4656-b68b-a00acc1060fx"}
type: "role"

However, the PolicyRepresentation does not specify the field "roles". B

[2021-12-21 10:47] xCryzed opened #347 "TypeError: KcAdminClient is not a constructor"
### Describe the bug

Hi, everyone

if I try to start the script with the following code I'm getting the error: TypeError: KcAdminClient is not a constructor.

[code]

Do you have any ideas how to fix that?

### Version

16.1.0

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

node version: 14.17.0

[2021-12-21 15:14] xCryzed commented on #347
Using typescript fixed this.

[2021-12-21 15:14] #347 closed

[2021-12-23 11:08] jonkoops commented on #340
I see no problem adding this, @d-vo could you link to the appropriate model in the [API docs](https://www.keycloak.org/docs-api/16.1/rest-api/index.html#_clientpolicyrepresentation) or the source of [Keycloak](https://github.com/keycloak/keycloak)?

[2021-12-27 10:58] corradocavalli opened #349 "Can't join a node under certain conditions"
### Describe the bug

Consider this group structure https://ibb.co/JxrjMqr looks like a user can't join the Volvo group is already member of cp:admin group despite the "success" message.
The opposite works fine.

### Version

15.0.2

### Expected behavior

Being able to add the user to Volvo group

### Actual behavior

Interface says success but node is not listed among joined.

### How to Reprodu

[2021-12-27 11:47] jonkoops commented on #349
@corradocavalli  Is this an issue with the API client? This seems more like an issue with Keycloak itself. If you want to report a bug in Keycloak please do so in the respective [issue tracker ](https://github.com/keycloak/keycloak/issues).

[2021-12-27 13:17] corradocavalli commented on #349
At the moment only with KC, moved to proper group.

[2021-12-27 13:17] #349 closed

[2022-01-05 10:15] siddisking opened #357 "group.spec.ts does not contain example of how to add attributes while creating groups"
### Description

Just started using this library to manage our REST api requests.

Our requirement was to create a group with some attributes but there was no example for the same.

The official documentation mentions the key attribute but representation of the same is missing

After going through QA on stackoverflow i found the representation of attribute map is something like this

`kcAdminClien

[2022-01-06 20:08] jenny-s51 opened #359 "ResourceEvaluation missing clientId attribute"
### Describe the bug
ResourceEvaluation type is missing `clientId` attribute. `rolesIds` attribute should also be renamed to match the name `roleIds` in the old console

### Version

16.1

### Expected behavior

This is the payload from the old admin console:

[code]

[2022-01-07 11:11] #359 closed

[2022-01-07 11:13] jonkoops commented on #357
I am all for adding more tests. Feel free to open up a PR for this :+1:

[2022-01-12 18:13] amanchopra95 opened #366 "grant types to have refresh_token"
### Description

On this issue https://github.com/keycloak/keycloak-nodejs-admin-client/pull/134 I can see that there is support for refresh token, but grantTypes does not support the refresh_token type. Can we add this to complete the feature.

Thank You

### Discussion

https://github.com/keycloak/keycloak-nodejs-admin-client/pull/134

### Motivation

_No response_

### Details

_No response_

[2022-01-14 08:17] wjh000123 opened #368 "search users by custom attributes"
### Describe the bug

The test case for searching user by custom attributes is wrong [here](https://github.com/keycloak/keycloak-nodejs-admin-client/blob/125a0254d72ce781995f0a983728f75d50bbd52c/test/users.spec.ts#L101). By the documentation of [keycloak rest api](https://www.keycloak.org/docs-api/16.1/rest-api/index.html#_users_resource), the search params should be like `users.find({ q: 'key1:va

[2022-01-17 13:39] #366 closed

[2022-01-24 11:19] tahesse opened #371 "Allow the Agent to be configured to not catch 404 exception (includes proposal I'm willing to PR)"
### Description

Hey, great work you are doing here!

I wondered why `404 NotFoundExceptions` are caught by default for a few methods and why this `RequestArgs` attribute cannot be configured from outside (at least for advanced users).

https://github.com/keycloak/keycloak-nodejs-admin-client/blob/main/src/resources/agent.ts#L21-L22

AFAIU, an `Agent` is initialized for a `Resource` which itself i

[2022-01-24 12:56] tahesse commented on #371
Alternative proposal instead of precedence is gated activation (I am not sure which is the most intuitive):
[code]

At least, not using the spread operator hampers readability (IMHO) and is less efficient regarding extension for further `RequestArgs`. Bottom line: I don't like it  but I wanted to post it for consideration.

[2022-01-24 13:45] karimerrahli commented on #45
+1

[2022-01-25 19:47] tahesse commented on #371
Please see my draft PR for the proposed changes: https://github.com/keycloak/keycloak-nodejs-admin-client/pull/379/files

I am happy to receive feedback on it! Thank you!

[2022-01-26 08:05] armujahid commented on #347
Facing exact same issue. Package should work without typescript.

[2022-01-26 09:48] armujahid opened #380 "ESmodule support: TypeError: KcAdminClient is not a constructor"
### Describe the bug

following code throws `TypeError: KcAdminClient is not a constructor` in a newly created node.js project with   `"type": "module",` in package.json
[code]

### Version

jboss/keycloak:16.1.0 with "@keycloak/keycloak-admin-client": "^16.1.1"

### Expected behavior

Import should work

### Actual behavior

getting this error
[code]

### How to Reproduce?

Clone and run https://

[2022-01-26 10:52] jonkoops commented on #380
We're not shipping this module as a ES module, so since you are importing a CommonJS module with a default export it will be on a `default` property.

[code]

I believe the above code will work as expected, but we will eventually add support for ES modules.

[2022-01-27 20:02] jenny-s51 opened #384 "Add PolicyResultRepresentation"
### Description

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/core/src/main/java/org/keycloak/representations/idm/authorization/PolicyEvaluationResponse.java#L119

### Motivation

This type is necessary in order to access a resource evaluation result in Clients -> Authorization -> Evaluate

[2022-01-27 20:10] jenny-s51 opened #386 "Add PolicyEvaluationResponse type"
### Description

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/core/src/main/java/org/keycloak/representations/idm/authorization/PolicyEvaluationResponse.java#L31

### Motivation

This type is necessary to access the result of a resource evaluation in Clients -> Authorization -> Evaluate

[2022-01-27 20:13] jenny-s51 opened #387 "Add AccessToken representation"
### Description

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/core/src/main/java/org/keycloak/representations/idm/authorization/PolicyEvaluationResponse.java#L36

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/core/src/main/java/org/keycloak/representations/AccessToken.java

### Discussion

_No response_

### Motivation

_No

[2022-01-28 12:46] jamesalester opened #389 "executeActionsEmail return 415: Unsupported media content"
### Describe the bug

When making a request to `client.users.executeActionsEmail({ id: userId })` I get back a 415 error saying the media content is unsupported.

### Version

16.1.1

### Expected behavior

The request should succeed.

### Actual behavior

The request fails with a 415 error status.

### How to Reproduce?

Make a request to `users.executeActionsEmail`.

### Anything else?

When I i

[2022-01-31 14:50] #371 closed

[2022-01-31 16:12] jenny-s51 opened #398 "Add EvaluationResultRepresentation"
### Description

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/core/src/main/java/org/keycloak/representations/idm/authorization/PolicyEvaluationResponse.java#L70

### Discussion

This type is necessary to access the result of a resource evaluation in Clients -> Authorization -> Evaluate

[2022-01-31 17:06] #384 closed

[2022-02-01 22:21] d-vo opened #401 "Return all users with client role"
### Description

Hi everyone,

I want to use `adminClient.clients.findUsersWithRole()` to get all users that have a particular client role. However, I can only get the users to whom the role has been directly attached. I can not get users that inherit the role by being in a specific group that has this client role attached.

My workaround is to query all groups with the role attached with somethin

[2022-02-02 11:56] jonkoops commented on #401
As far as I am aware this API endpoint does not exist. If it does exist you should be able to find it in the [Admin API documentation](https://www.keycloak.org/docs-api/16.1/rest-api/index.html). If you want to request a new functionality in the API itself feel free to open up an issue on the [main repository](https://github.com/keycloak/keycloak) where this code resides.

[2022-02-03 11:41] mastery-amit-sahani opened #402 "Cannot update a group policy using the updatePolicy method in clients."
### Describe the bug

Hello

I'm trying to make use of the `kcAdminClient.clients.updatePolicy()` method to update a role based policy. Below is the necessary query and payload data that I'm sending along with the **PUT** request.
[code]
Since there is no roles field in `PolicyRepresentation`, I believe sending roles under config is the right way. I also tried sending other parameterslike resource

[2022-02-04 14:02] #398 closed

[2022-02-04 14:02] #386 closed

[2022-02-04 16:56] stevehogdahl opened #403 "Get Multiple Users by Id"
### Description

Add an id array to the users.find api so multiple users can be get by ids. Only way to do this now is to call the findOne for each id or findAll and filter the list down.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-02-07 09:53] jonkoops commented on #403
Hi @stevehogdahl, this is the repository for the client for the Admin API, not the implementation of the Admin API itself. If you want to request a feature for the Admin API please open an issue on the [main repository](https://github.com/keycloak/keycloak).

[2022-02-07 09:53] #403 closed

[2022-02-07 12:04] #389 closed

[2022-02-08 21:03] jenny-s51 opened #407 "Add exportResource return type"
### Describe the bug

Per @jonkoops - good find:

This method in the admin client is missing a proper return type, can you add one there?

_Originally posted by @jonkoops in https://github.com/keycloak/keycloak-admin-ui/pull/1937#r801639171_

### Version

16

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No resp

[2022-02-12 12:18] thomasdarimont opened #411 "Add support for generating example IdToken and UserInfo for client-scope evaluation"
### Description

The old admin-console supports to tests scope / claim mappings by allowing to generate id-token and userinfo payload examples for a given user.

### Discussion

_No response_

### Motivation

This feature enables users to test claim mappers for id token and user info responses.

### Details

Add methods like
- `evaluateGenerateIdToken`
- `evaluateGenerateUserInfo`

Next to the alr

[2022-02-16 17:27] leandrodaf commented on #45
+1

[2022-02-24 08:41] armujahid opened #422 "Support custom request headers injection"
### Description

I think there should be an option to specify custom request headers in KcAdminClient constructor. Those headers should be included in every request.

### Motivation

We need to send correct X-Forwarded-Host header while accessing keycloak using internal/private url (without going through reverse proxy that sets X-Forwarded-Host).

1. keycloak is available internally in kubernetes

[2022-02-24 08:46] armujahid commented on #422
Axios request config options are already supported.
//   requestConfig: {
//     /* Axios request config options https://github.com/axios/axios#request-config */
//   },

[2022-02-24 08:46] #422 closed

[2022-03-14 11:35] claudiunicolaa opened #427 "misleading 405 error when trying to delete a resource by passing undefined/null resource ID"
### Description

https://github.com/keycloak/keycloak-nodejs-admin-client/blob/main/src/resources/clients.ts#L569
The API returns 405 Method Not Allowed when trying to delete a resource by passing undefined/null resource ID.

I think this behavior is misleading and should be enhanced. What do you think?

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-03-23 15:35] #411 closed

[2022-03-24 16:24] AllexVeldman commented on #104
For updating a realm, the [Admin API](https://www.keycloak.org/docs-api/17.0/rest-api/index.html#_realms_admin_resource) docs say explicitly that nested resources are ignored:

For the group API there is no such thing:

My guess at this point is that on POST all the resources are created but on PUT only top-level attributes are updated, which is very annoying.

[2022-03-25 07:02] edewit commented on #104
The documentation isn't very clear in how to go about doing things, what I use to find out how to do it is: make the changes I want to make in the admin UI then see what calls it makes in the network tab and then convert these to this client.

[2022-03-31 14:35] banjarakunal commented on #368
When will be above bug be resolved?

[2022-04-06 10:01] jonkoops commented on #427
What exactly is the expected behavior here? The `resourceId` parameter is required, so I don't see a reason to make it optional.

[2022-04-11 06:38] claudiunicolaa commented on #427
My first thought was that a  400 - Bad request status code is needed, because 405 - Method not allowed is misleading- it tells me the DELET doesn’t exists but I only made a wrong request.

But I looked again into the codebase and it makes sense to be 405. The DELETE method does not exist for `/{id}/authz/resource-server/resource`.

Thank you for your time! I will close the issue.

[2022-04-11 06:38] #427 closed

[2022-04-20 09:15] saevarb opened #452 "Client randomly adds extraneous slashes"
### Describe the bug

We want to use the admin client to fetch the list of groups we have created in keycloak. This worked in our very first try, using

[code]

Then all of a sudden it stopped working, and the request fails with a 404: `RESTEASY003210: Could not find resource for full path: <keycloak-url>/admin/realms/<realm>/users//groups`.

This seems to work/not work spuriously and we are unabl

[2022-04-20 09:29] #452 closed

[2022-04-21 11:34] armujahid commented on #245
I was also facing exactly same issue. Root cause was `kcAdminClient.users.findOne` was returning Array instead of just one User (I think this should be fixed) . Issue resolved after modifying my code to get 1st user from array. e.g.
[code]

[2022-04-22 06:00] armujahid opened #461 "findOne by username returns multiple users in array"
### Describe the bug

Create two users with overlapping usernames:
1) 3l@foo.com
2) 33l@foo.com

Call findOne with `3l@foo.com`
[code]

### Version

17.0.1

### Expected behavior

it should always return one user (in an Array related: https://github.com/keycloak/keycloak-nodejs-admin-client/issues/78)

### Actual behavior

it is returning both users (because I think it is doing like/not-exact sear

[2022-04-22 10:06] jonkoops commented on #461
https://github.com/keycloak/keycloak-nodejs-admin-client/issues/78#issuecomment-732789874

[2022-04-22 10:26] armujahid commented on #461
For now I am using find with exact
[code]

[2022-04-22 10:28] armujahid commented on #461
@jonkoops shouldn't it different from regular find since regular find accepts `UserQuery` while findOne accepts `UserRepresentation` ?

[2022-04-22 10:42] edewit commented on #461
@armujahid yes we should update the type it should only accept an id

There are 2 endpoints `/{realm}/users/{id}` and `/{realm}/users/` so if you don't specify an id it just does a search

[2022-04-28 08:33] SimonMARTIN87 opened #468 "403 Forbidden on a newly created Realm"
### Describe the bug

When creating a new realm (using a client with all needed roles), it seems the promise is resolved BEFORE the realm is completely setup.
Trying to retrieve this realm will result in a 403 Forbidden result.

### Version

server 17.0.1, npm package 18.0.0

### Expected behavior

the newly created realm should be retrieved.

### Actual behavior

403 Forbidden.
Waiting a couple o

[2022-05-01 10:51] splimter commented on #192
@Gr0bs
Did you find a solution where you were able to use the policy enforcer ? if you yes please can you provide more details about it, thanks in advance.

[2022-05-02 15:41] Firjens opened #475 "users.find() also return their federated identities"
### Description

Hello, I've been using this package for some time now but I'd like to see a way to return all users in the `users.find()` function with their federated identities.

I'm not sure if this is already possible but I've been picking my brains for a couple of days now to make it work. I've looked through all the code and issues and I've noticed no issue was opened about this.

Regards.

[2022-05-02 15:57] jonkoops commented on #475
Unless this is a feature that is supported by the [Admin API](https://www.keycloak.org/docs-api/18.0/rest-api/index.html#_getusers) this cannot be implemented in the client. If you'd like to add a feature to the Admin API then please file a request on the [main repository](https://github.com/keycloak/keycloak/issues).

From what I can see in the documentation this feature is not supported by the A

[2022-05-02 15:57] #475 closed

[2022-05-04 17:54] leehendricks opened #476 "Support oauth2DeviceAuthorizationGrantEnabled flag when creating clients"
### Description

The admin client should support all elements of the `ClientRepresentation` as described by the API docs here:

https://www.keycloak.org/docs-api/15.0/rest-api/index.html#_clientrepresentation

Specifically, we need support for `oauth2DeviceAuthorizationGrantEnabled`

### Discussion

_No response_

### Motivation

Admin client should mirror the API.

### Details

_No response_

[2022-05-05 15:38] timeisgolden opened #477 "need the defined types that exportable and importable"
### Description

https://github.com/keycloak/keycloak-nodejs-admin-client/blob/main/src/index.ts
upon checking this, it seems missing some defs, like UserRepresentaion, UserSessionRepresentaion, and so on....

https://github.com/keycloak/keycloak-nodejs-admin-client/tree/main/src/defs
to support typescript, all available types in defs directory need to be defined in index.ts file.

I am using this

[2022-05-05 20:45] timeisgolden commented on #468
I also got 403 errors when launching service.realms.find()
[code]

[2022-05-06 04:24] timeisgolden commented on #468
Did you solve this issue?
@SimonMARTIN87

[2022-05-06 05:14] timeisgolden commented on #468
never mind, I solved the issue by adding manage-realm in realm-management to my account in keycloak console.

[2022-05-06 20:16] leehendricks commented on #476
Eh, didn’t realize the `oauth2DeviceAuthorizationGrantEnabled` flag is specified under `attributes`.

This payload works when creating a client:

[code]

Closing.

[2022-05-06 20:16] #476 closed

[2022-05-08 10:49] dibenlloch opened #478 "clients.update - defaultClientScopes or optionalClientScopes"
### Describe the bug

Hi,
Testing some script for creating and updating clients i notice that update is not working at least for defaultClientScopes or optionalClientScopes fields.

### Version

18

### Expected behavior

Related fields should be updated

### Actual behavior

Currently fields are not being updated (seems like being ignored)

### How to Reproduce?

Some example code.

[code]
As res

[2022-05-11 09:54] #468 closed

[2022-05-12 08:57] #461 closed

[2022-05-12 21:52] ClemensSahs commented on #402
this fix it for me on 16, possible 17,18,19-dev it works too

https://github.com/keycloak/keycloak-nodejs-admin-client/pull/483

[2022-05-18 10:28] edx-jagadeesh-kumar commented on #127
Hii it will be very helpful if you can put a sample snippet of user.find() to list more than 100 records

[2022-05-18 19:57] claytongulick opened #487 "Poor CommonJS experience"
### Describe the bug

Many projects don't have the option of switching wholesale over to ESM, and must use CommonJS. This will probably be true for the foreseeable future, as CommonJS will be here to stay for at least five years.

It's pretty difficult to tease out how to use this package with CommonJS, there are no docs or mention of it anywhere.

The best I can come up with to make it work is so

[2022-06-17 15:04] ninogresenz commented on #174
I just had the same problem and I found #483, which should solve this issue.

[2022-06-28 18:15] biswassampad opened #506 "Wrong api call in auth ."
### Describe the bug

There is a wrong API call in auth function which is basically {{localhost}}/auth/{{realmName}}/myrealm/protocol/openid-connect/token but it should be {{localhost}}/realms/{{realmName}}/protocol/openid-connect/token .

### Version

18.0.1

### Expected behavior

The API call from axios during auth request should be {{localhost}}/realms/{{realmName}}/protocol/openid-connect/tok

[2022-07-07 08:12] valerii15298 opened #510 "await kcAdmin.users.find() does not return all user"
### Describe the bug

`await kcAdmin.users.find();` returns exactly only 100 users, while actually there 112 in my case...
In your docs and readme page is said that this method returns all users.

### Version

"@keycloak/keycloak-admin-client": "^18.0.2",

### Expected behavior

I should get all users!!!

### Actual behavior

I am getting only 100 users.

### How to Reproduce?

Add more than 100 u

[2022-07-07 09:08] valerii15298 commented on #510
The solution is to use `{max: 200}` in payload. But it is confusing from docs which says it will return all users. I suggest to update docs to make it more understandablel.

[2022-07-11 07:04] kemalk89 commented on #506
I also think that this is a bug. For now you can workaround this by overwriting the baseUrl:
[code]

[2022-07-11 21:19] josh-nale commented on #368
We came across this issue as well and you can use the search field of UserQuery to search by attribute. While I couldn't find good documentation on this it does seem to work.

Example code:
`const matchingUsers = await client.users.find({
        ` search: `custom_attribute: ${custom_attribute_value}`,
      `}); `

[2022-07-19 05:02] prawee opened #515 "Package "react-monaco-editor" not found. Have you installed it?"
### Describe the bug

i'm clone and install package already. then while run script it's happen this error

"Package "react-monaco-editor" not found. Have you installed it? "

I'm try install  "react-monaco-editor" but not working

### Version

1.8.2

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

_No response_

[2022-07-19 13:17] tschannik commented on #506
Any updates on this? It looks like the /well-known/uma2-configuration endpoint is also called with /auth but should be called without it.

[2022-07-23 16:31] jonkoops commented on #515
I think this issue is reported on the wrong repository. This package does not have a dependency on `react-monaco-editor`, nor any references to it.

[2022-07-23 16:31] #515 closed

[2022-07-27 19:46] yalpertem opened #517 "Webpack Compilation Error: "You may need an appropriate loader to handle this file type" error after upgrading to 19.0.0"
### Describe the bug

We're using `@keycloak/keycloak-admin-client` in a cypress test project. After upgrading the library to the version `19.0.0` we're getting webpack compilation error.

### Version

19.0.0

### Expected behavior

No error while importing [keycloak-nodejs-admin-client](https://github.com/keycloak/keycloak-nodejs-admin-client) in cypress.

### Actual behavior

[code]

### How to

[2022-07-28 10:19] jonkoops commented on #517
You're using a version of WebPack that doesn't support [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining). You'll have to use a more modern version of WebPack that supports this syntax, or include a transpiler that converts it to an older syntax.

[2022-07-28 10:19] #517 closed

[2022-07-28 10:21] yalpertem commented on #517
Thanks a lot for the explanation 🙌

[2022-08-02 09:05] #487 closed

[2022-08-02 09:06] jonkoops commented on #487
Closing this as we landed pure ES module support in #381.

[2022-08-03 15:40] HaithamOumerzoug commented on #510
You have to add **max** value in find method
`kcAdminClient.users.find({
        max: 300,
      });`

[2022-08-03 16:16] valerii15298 commented on #510
@HaithamOumerzoug thanks, I know that. The thing is it is not clearly described in docs.

[2022-08-03 17:45] valerii15298 commented on #510
@HaithamOumerzoug I know about these attributes and about pagination. The point of my issue is for keycloak maintainers to update their docs to describe it clearly. Bcs in readme the say all users will be returned which is not true.

[2022-08-03 20:27] kevinswarner opened #519 "Error: "Cannot use import statement outside a module""
### Describe the bug

We were using the old version of this library (e.g. keycloak-admin), but realized it is no longer supported. So we went to replace it with the newer @keycloak/keycloak-admin-client.

When I install the package, and then include it in one of my files like this...

[code]

I begin getting the following error when running my tests from Jest.

[code]

Jest has some suggestions, b

[2022-08-04 08:06] ignaciostellino opened #520 "Not getting credentials when calling users find()"
### Describe the bug

I am calling the function .users.find() function with a query with the email value but I don't receive the credentials as response.
I am using keycloak/keycloak-admin-client 15.0.2

### Version

keycloak/keycloak-admin-client 15.0.2 / keycloak 18

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Anything else?

[2022-08-04 11:18] jonkoops commented on #519
You are using new JavaScript module syntax that is only supported when you enable it explicitly. For more information see the [Node.js documentation](https://nodejs.org/api/esm.html#enabling).

[2022-08-04 11:18] #519 closed

[2022-08-04 14:06] kevinswarner commented on #519
I understand that, but what I am confused about is Jest is transforming my code, and I am using "import" throughout to import other third party packages, without any issues. It is ONLY this package that is causing the error. So there is something different about THIS package that I am trying to understand so that I can figure out how to use it.

[2022-08-04 15:03] jonkoops commented on #519
The issue is likely that this package ships as a pure ESM library, without a CommonJS fallback. This is [an issue](https://github.com/facebook/jest/issues/9430) in Jest that still needs to be resolved.

You'll either have to enable ESM mode (see [documentation](https://jestjs.io/docs/ecmascript-modules)), or tweak `transformIgnorePatterns` so that this package is transformed by Jest (see https://g

[2022-08-04 15:42] kevinswarner commented on #519
Thanks. The transformIgnorePatterns seemed to work, but then I had to add several more node modules to the list. But, it is working ok now. Is there a reason you are not providing a CommonJS fallback? Just curious.

[2022-08-08 08:55] jonkoops commented on #519
CommonJS and ESM interoperability is notoriously hard, so we'd rather stick to a standardized solution that everyone will be using in the future.

[2022-08-08 15:10] anthonny opened #523 "Error [ERR_REQUIRE_ESM]"
### Describe the bug

Hello 👋
Since I switched from `"18.0.2"` to `"19.0.1"`, Typescript does not compile anymore

### Version

19.0.1

### Expected behavior

Typescript should compile without any error message.

### Actual behavior

I have the following error:

[code]

### How to Reproduce?

I have a Typescript project with this `tsconfig.json`:

[code]

Just import the lib and use the client

##

[2022-08-08 18:08] christianramcke commented on #77
We need this too. Is there any plan to make the RequiredActionAlias extendable?

thanks

[2022-08-09 05:51] Threnklyn commented on #77
As a workaround use `"YOUR_ACTION" as RequiredActionAlias`

[2022-08-09 19:06] KiriLucas commented on #523
I was about to open an issue too, and coincidentally we're facing the exact same issue on a Node project... Downgrading to v18.0.2 worked too.

[2022-08-13 10:55] jonkoops commented on #523
Just set a new project with TypeScript and this compiles fine with the given information in this bug report (see [keycloak-admin-ts.zip](https://github.com/keycloak/keycloak-nodejs-admin-client/files/9331267/keycloak-admin-ts.zip)). Please provide a complete reproducible example with as little code as possible.

[2022-08-15 07:34] #77 closed

[2022-08-15 13:32] abretonc7s commented on #523
+1 Same error

[2022-08-16 09:00] GerDner commented on #523
+1 18.0.2 is broken

[2022-08-16 09:47] jonkoops commented on #523
@GerDner I just booststrapped a new NestJS project and this works fine for me using the latest version of the Admin Client.

[2022-08-16 12:43] GerDner commented on #523
@jonkoops i reproduced it with a new nestjs project via `npx create-nx-workspace@latest keycloak` but not with `nest new`.
I did not find any difference in ts-config params which could cause such an error.

[2022-08-16 12:46] jonkoops commented on #523
@GerDner could it be that some compiler bits are different? Such as the TypeScript version?

[2022-08-16 12:55] jonkoops commented on #523
Also could you please share this project with me so I can reproduce this issue?

[2022-08-16 13:04] jonkoops commented on #523
Looks like the authors of NestJS have expressed that they have no interest in implementing support for loading pure ES modules (see https://github.com/nestjs/nest/issues/7021#issuecomment-831799620). This was over a year ago so perhaps this opinion has changed.

Either way this is an issue with NestJS, so I'd recommend you log an issue there. The more people ask for it the more likely it will be i

[2022-08-16 13:04] #523 closed

[2022-08-20 15:24] anonrig commented on #523
The amount of pain the decision to convert the codebase is huge. Especially on packages that depend on this package.

There isn't any logical reasoning behind converting a package to ESM only in terms of performance. Actually using ESM has worse performance than CJS in Node.js. (https://github.com/nodejs/node/issues/44186)

I recommend the distributors of this package change their decision and eas

[2022-08-21 01:24] KiriLucas commented on #523
Totally agree.

[2022-08-22 20:42] jonkoops commented on #523
We're not going backwards in time and refit a module system that was never formally accepted into the language. Instead we will focus on implementing something that is actually standardized and is the future of the language as a whole, not just the Node.js ecosystem.

The community is not ready for this kind of change.

ES modules are marked as stable in Node.js 14, 16 and 18. All modern tooling s

[2022-08-23 08:32] Nosfistis commented on #523
I applaud the move forward, yet this is a breaking change not mentioned anywhere clearly, and blocks development with mayor frameworks such as NestJS.

Could you upload it to a demo repo? I have done the same using the latest NestJS CLI and cannot create the Admin Client without triggering the error.

[2022-08-26 09:08] irv075 opened #532 "Creating a Client Scope does not return the ID"
### Describe the bug

Calling clientScopes.create() returns void, unlike other resource creation calls which return the ID of the resource. The Keycloak API does return the correct `Location` header, so the ID can be extracted from there

### Version

18.0.2 (also present in 19.0.1)

### Expected behavior

The ID of the newly created Client Scope is returned

### Actual behavior

Void is returned

[2022-08-30 10:38] irv075 commented on #532
PR #535 raised

[2022-09-01 13:29] alexagc commented on #487
@jonkoops, i would reconsider the distribution of commonjs module(following this rules https://nodejs.org/api/esm.html#esm_commonjs_namespaces), if only ships ESM modules this project force to move all code database of project to use ESM (or transpile code), this, even now, its not clear in nodejs core maintainers because commonjs its not going to be deprecate in a future and a large number of pac

[2022-09-02 15:49] claytongulick commented on #487
I agree, our solution for now is to move away from keycloak due to the response to this ticket and some other technical limitations.

I was disappointed with the response, it seemed needlessly strict, especially since packaging for bothe esm and cjs is pretty simple and a common practice.

[2022-09-03 20:49] jonkoops commented on #523
Yeah, apologies for the lack of communication on our part. I am working on de-coupling this library from the release cycle of the main Keycloak project (currently this is tied into the same scripts). This way we can independently version the project and add proper release notes.

I think I made a mistake in my original NestJS project, bootstrapping one now seems to cause the same issue as mentione

[2022-09-03 20:54] jonkoops commented on #487
No, [it's not](https://nodejs.org/api/packages.html#dual-package-hazard).

It doesn't force you to do this, you can still import ES modules from CommonJS. However there are caveats. You'll have to use the dynamic [`import()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/import), and since [top-level await](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2022-09-06 10:04] hmica commented on #523
I used this workaround in NestJS:
[code]

[2022-09-08 16:42] claytongulick commented on #487
Are you sure? https://antfu.me/posts/publish-esm-and-cjs

I've bundled for both without any major issues.

[2022-09-12 09:23] DarrenCook commented on #245
Thanks @armujahid: that turned out to be the problem for me too. (I was just forced to revisit this!)

I think the underlying problem comes down to the surprising behaviour of `findOne()` described here: https://github.com/keycloak/keycloak-nodejs-admin-client/issues/461#issuecomment-1106365661

I.e. if you search on `id` as shown in the spec.ts document, it returns a user object, and if you searc

[2022-09-12 11:37] jonkoops commented on #245
Feel free to open up a PR for adding another test, that's always appreciated!

[2022-09-14 18:50] kherock commented on #478
This does look like a bug/missing function in Keycloak's API - here's the method in charge of converting the request representation into the model:
https://github.com/keycloak/keycloak/blob/54c1f1b85a34972066e8636b70703e3ac586923b/server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java#L506-L597

You can see that it skips over the default and optional scopes set by th

[2022-09-16 10:03] jonkoops opened #543 "Re-enable skipped tests"
### Description

Quite a lot of tests are being `.skip()`ed and should be re-enabled.

### Discussion

_No response_

### Motivation

_No response_

### Details

_No response_

[2022-09-16 10:09] #532 closed

[2022-10-02 02:55] tbusillo opened #549 "Add support for finding groups by their path name"
### Description

The Keycloak API  [supports querying of groups](https://www.keycloak.org/docs-api/18.0/rest-api/#_getgroupbypath) by their path name via `GET admin/realms/{realm}/group-by-path/{path}`. However, the client library currently only supports retrieving groups by their ID (e.g., `GET /{realm}/groups/{id}` via `kcAdminClient.groups.findOne({id: group.id})`.

I am open to submitting a PR

[2022-10-04 22:07] DallasP9124 commented on #523
This opinioned enforcement effectively breaks typescript + node + cjs which is not in a long shot a minority group of developers. This type of enforcement with no communication or migration path for a large group of devs is just lazy.

[2022-10-06 10:51] jonkoops commented on #549
@tbusillo feel free to open up a PR for this. If the Keycloak Admin API supports this then it should be in this library.

[2022-10-06 11:14] GerDner commented on #523
i can confirm that this works

[2022-10-06 14:53] DallasP9124 commented on #523
A workaround for Typescript would also be nice if it is even possible, so far I have not found any examples anywhere of dynamically importing a type.

[2022-10-10 12:20] Manuelbaun commented on #523
I also got this issue, where I try to import the package and it throws `ERR_REQUIRE_ESM` evetything I have tried, does not work to make this package work with my server application (use commonjs).

I use a workaround, where I setup an npm package and use esbuild to bundle `keycloak-nodejs-admin-client` and then export the js file with its index.d.ts file. This is my package.json

[code]
my index.d

[2022-10-12 21:31] #549 closed

[2022-10-18 14:01] mastepanoski opened #566 "Backward compatibility to support CommonJS"
### Description

Currently if I want to use this module in a project that has not implemented ESM support yet, I get the following error: Error [ERR_REQUIRE_ESM]: require() of ES Module ...someprj/node_modules/@keycloak/keycloak-admin-client/lib/index.js

So tsconfig.json and package.json could be modified to support ESM and CommonJS.

### Discussion

_No response_

### Motivation

It would be goo

[2022-10-18 14:12] mastepanoski opened #567 "Add missing endpoints supplied by Keycloack"
### Description

There is no function to access these endpoints:
* _{config.serverUrl}_/auth/admin/realms/_{config.realmName}_/clients/_{config.clientUUID}_/authz/resource-server/policy/role/{id} [GET]
* _{config.serverUrl}_/auth/admin/realms/{config.realmName}/clients/_{config.clientUUID}_/authz/resource-server/scope [GET, POST]
*  _{config.serverUrl}_/auth/admin/realms/{config.realmName}/clients

[2022-10-19 11:04] jonkoops commented on #566
Duplicate of #523

[2022-10-19 11:04] #566 closed

[2022-10-26 07:26] sbystrov commented on #368
Tested it with KeyCloak 18.0.2

`const` users = await kcAdminClient.users.find({q: {'emailSecret:${emailSecret}});`

works fine.

**Note 1**: do not add spaces around ':'
**Note 2**: do not encodeURIComponent(custom_attribute_value). Keycloak seems to accept only raw values. So no spaces are supported in search. (Tried with ":" in custom attribute value - no problem though)

[2022-11-01 14:34] bwoody3142 commented on #38
Hi, I have the same use case here, is there an update on the status of this issue?

[2022-11-09 04:39] JAZZ-FROM-HELL commented on #523
Too bad that this issue is closed without a solution. The hassle of a workaround in my case would opt me out to search for alternatives or write my own client.

[2022-11-09 05:25] DallasP9124 commented on #523
@JAZZ-FROM-HELL that's what we ended up doing as well. Too bad they didn't consider the ramifications of them enforcing ESM like this with no notice. Bad opensource.

[2022-11-09 15:54] amoscatelli commented on #253
Why has this issue being closed ?

There is a sort of workaround, but the issue is still present (and api seems broken).

What if I don't want to assign a group ?

[2022-11-09 16:17] amoscatelli opened #579 "Can't update user groups"
### Describe the bug

Can't update the user groups :

[code]

No error is thrown but groups are unchanged and shop is not assigned.

### Version

19.0.2

### Expected behavior

The shop group should be added.
Also I am trying to assign a group as a workaround for :
https://github.com/keycloak/keycloak-nodejs-admin-client/issues/253

### Actual behavior

Groups are unchanged after calling the api.

[2022-11-14 11:50] jonkoops commented on #38
We now allow you to [register](https://github.com/keycloak/keycloak-nodejs-admin-client/blob/de027818f7faaf66c8ac8bbd219c9ca18677a6dd/src/client.ts#L100-L106) a `TokenProvider`, which should be allow you to provide an access token to the Admin Client used for requests.

You can see an example implementation [in the Admin UI](https://github.com/keycloak/keycloak-ui/blob/344131a623592c588b690a62564f

[2022-11-14 11:51] #38 closed

[2022-11-15 18:35] Manuelbaun commented on #523
@DallasP9124 is you code opensource as well?

[2022-11-15 18:42] DallasP9124 commented on #523
@Manuelbaun Im not providing a library for others to use, where this project is. That's the main difference.

[2022-11-16 13:35] valerii15298 opened #582 "Documentation for handling errors"
### Description

Now it is very difficult to handle errors properly. As I understood when error occurs, axios object is thrown or something like that.
Would be nice to have some error handling functionality or at least docs.

### Discussion

_No response_

### Motivation

In production apps we need to have reliable way to handle errors and respond correctly.

### Details

_No response_

[2022-11-17 02:25] ehogeweg opened #583 "Unable to specify roles with new user creation"
### Describe the bug

I am not sure if this is a bug or just a user error, but I can't figure it out.

When I create a new user all the fields in keyCloak are correct, except the role(s) are missing on the User.

[code]

Everything appears to be correct in the body of the message.

`{"credentials":[{"algorithm":"bcrypt","hashedSaltedValue":"$2a$10$.deleted.","hashIterations":10,"type":"password"}]

[2022-11-17 02:33] ehogeweg commented on #583
Looks like this is a [dupe of 253](https://github.com/keycloak/keycloak-nodejs-admin-client/issues/253). Not sure that one should have been closed though...

[2022-11-17 02:33] #583 closed

[2022-11-22 11:16] bacloud23 commented on #401
@jonkoops this API indeed does not exist.
Why is it in the node-admin-client ??

`client.roles.findUsersWithRole` does not work and throws: `data: { error: 'unknown_error' }`

Just like requesting:

`const KEYCLOAK_GET_ALL_USERS_BY_ROLE = (roleName) => `/roles/${roleName}/users`;``
Same error, same endpoint.

[2022-11-22 15:16] JBWatenbergScality opened #586 "[typing] user.listGroups typing seems incorrect"
### Describe the bug

According to this documentation https://www.keycloak.org/docs-api/20.0.1/rest-api/index.html#_users_resource

GET /{realm}/users/{id}/groups

Accepts 3 additional non typed properties (first, max and search)

### Version

20.0.1

### Expected behavior

first, max and search should be typed here: https://github.com/keycloak/keycloak-nodejs-admin-client/blob/main/src/resources/

[2022-11-23 10:52] bacloud23 commented on #477
Very much needed indeed !!!!

[2022-11-25 15:36] fezi opened #590 "Fingerprint of 5.0.1 release did change after release"
### Describe the bug

2 Weeks ago, you had this integrity sha-512 hash:

    "node_modules/keycloak-js": {
      "version": "20.0.1",
      "resolved": "https://registry.npmjs.org/keycloak-js/-/keycloak-js-20.0.1.tgz",
      "integrity": "sha512-nd84PGuZZaU32iTvNYkHyw8UvmO6b6k9hCu/7kftwSaYTmOytQG9eK3DyL6idHmZQFHwz8QhJnqzEJYUtgmDIQ==",
      "dependencies": {
        "base64-js": "^1.5.1",

[2022-11-28 23:05] mariuszbeltowski commented on #523
Same here